/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$pink-light: #d5007c;
$pink-dark: #ac0064;
$blue-light: #27c1fd;
$blue-medium: #00a9ea;
$blue-dark: #01729e;

$transparent:rgba(0,0,0,0);


//Color V2  

// Tabs ligne
$calm:#f4b01a;
$balanced:#f4b01a;


// Verde
$red-light: #bc466b;
$red-medium: #a8ed58;
$red-dark: #81c241;
$red-dark2: #329919;


// Rosa
$green-light: #e13492;
$green-dark: #a30061;


// Color Principal (Menu, Nav Bar) // AZUL
$positive: #33599e;
$violet-light: #4192f2;
$violet-medium: #33599e;
$violet-dark: #052f6b;

$gray-light2: #F4F4F4;
$gray-light: #e2e2e2;
$gray-medium: #CCCCCC;
$gray-dark: #666666;

$balanced: #00CBCC;



// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

@font-face {
    font-family: Roboto-black; /*a name to be used later*/
    src: url('../img/font/Roboto-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: Roboto-regular; /*a name to be used later*/
    src: url('../img/font/Roboto-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: Roboto-light; /*a name to be used later*/
    src: url('../img/font/Roboto-Light.ttf'); /*URL to font*/
}

// @font-face {
//     font-family: 'Sport3'; /*a name to be used later*/
//     src: url('../img/typos/octin-vintage.ttf'); /*URL to font*/
// }

// @font-face {
//     font-family: 'Sport4'; /*a name to be used later*/
//     src: url('../img/typos/Montserrat-Light.otf'); /*URL to font*/
// }

// @font-face {
//     font-family: 'Sport5'; /*a name to be used later*/
//     src: url('../img/typos/LiberationMono-Regular.ttf'); /*URL to font*/
// }

// @font-face {
//     font-family: 'paint'; /*a name to be used later*/
//     src: url('../img/typos/FingerPaint-Regular.ttf'); /*URL to font*/
// }

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "../scss/main";
@import "../scss/ios";

@import "../www/app/preview/preview";
@import "../www/app/home/home";
@import "../www/app/select-child/select-child";
@import "../www/app/aviso/aviso";
@import "../www/app/calendar/calendar";
@import "../www/app/list-teacher/list-teacher";
@import "../www/app/teacher-profile/teacher-profile";
@import "../www/app/faq/faq";
@import "../www/app/school/school";
@import "../www/app/rating/rating";
@import "../www/common/ui/popup";