.platform-ios{
	.aviso{
		.child-list{
	 		margin-top: 30px;
	 		margin-bottom: 300px !important;
	 	}

	 	
	 	.aviso-list{
	 		.aviso-first{
		    	margin-top: 20px;
		    }
		}
	}

	.mtios{
    	margin-top: 20px;
    }

    .pt5ios{
    	padding-top: 5px;
    }
}

