
// @media screen and (min-width: 1024px) { 
// 	.top-image{
// 		height: 460px;
// 	}
// 	.text-titre{
// 		font-size: 60px;
// 	}
// }

// @media screen and (max-width: 1024px) { 
// 	.top-image{
// 		height: 460px;
// 	}
// }

.modal{
  top: 0 ;
  bottom: 0 ; 
  left: 0 ;
  right: 0 ;
  width: 100% ;
}



a {
    color: #332566;
    text-decoration: none;
}


@media screen and (min-width: 500px) { 
	.top-image{
		height: 460px;
		position:relative;
	}
	.text-titre{
		font-size: 60px;
	}
}

@media screen and (max-width: 500px) { 
	.top-image{
		height: 230px;
		position:relative;
	}
	.text-titre{
		font-size: 34px;
	}
}

// @media screen and (max-width: 320px) {   
// 	.top-image{
// 		height: 230px;
// 	}
// 	.text-titre{
// 		font-size: 40px;
// 	}
// }

.text-titre{

}



// Background color V2
.background-violet-light{
	background-color:$violet-light !important;
}

.background-violet-medium{
	background-color:$violet-medium !important;
}

.background-violet-dark{
	background-color:$violet-dark !important;
}

.background-green-light{
	background-color:$green-light !important;
}

.background-green-dark{
	background-color:$green-dark !important;
}

.background-red-light{
	background-color:$red-light !important;
}

.background-red-medium{
	background-color:$red-medium !important;
}

.background-red-dark{
	background-color:$red-dark !important;
}

.background-red-dark2{
	background-color:$red-dark2 !important;
}

.background-gray-light{
	background-color:$gray-light !important;
}

.background-gray-light2{
	background-color:$gray-light2 !important;
}

.background-gray-medium{
	background-color:$gray-medium !important;
}

.background-gray-dark{
	background-color:$gray-dark !important;
}

.background-transparent{
	background-color:	rgba(0,0,0,0);
}

.background-calm{
	background-color:	$calm;
}
// Text color V2
.white{
	color:#FFFFFF !important;
}

.violet-light{
	color:$violet-light !important;
}

.violet-medium{
	color:$violet-medium !important;
}

.violet-dark{
	color:$violet-dark !important;
}

.green-light{
	color:$green-light !important;
}

.green-dark{
	color:$green-dark !important;
}

.red-light{
	color:$red-light !important;
}

.red-medium{
	color:$red-medium !important;
}

.red-dark{
	color:$red-dark !important;
}

.red-dark2{
	color:$red-dark2 !important;
}

.gray-light{
	color:$gray-light !important;
}

.gray-light2{
	color:$gray-light2 !important;
}

.gray-medium{
	color:$gray-medium !important;
}

.gray-dark{
	color:$gray-dark !important;
}

// Text error
.message-error{
    color: red;
    font-size: 12px;
}
// Font
.roboto-b{
	font-family:Roboto-black !important;
}

.roboto-r{
	font-family:Roboto-regular  !important;
}

.roboto-l{
	font-family:Roboto-light  !important;
}

// Form
.form-input{
	width: 100%;
    padding-left: 10px !important;
}


// APP SCHOOL POCKET
.sub-bar{
	height:40px;
}

.text-sub-bar{
    top: 8px;
    position: relative;
    font-size: 15px;
}

.bubble{
    border-style: solid;
    border-color: $gray-medium;
    border-width: 2px;
    height: 70px;
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    position:absolute;
    bottom:10px;
    right:10px;
}

.liste-bubble{
	.bubble{
	    border-style: solid;
	    border-color: $gray-medium;
	    border-width: 2px;
	    height: 70px;
	    max-width: 70px;
	    max-height: 70px;
	    width: 100%;
	    border-radius: 50%;
	    text-align: center;
	    margin: 0 auto;
	    position:absolute;
	    bottom:10px;
	    right:10px;
	}
}

.end-section{
	margin-bottom: 50px;
}

.button-tel{
	min-height: 30px;
    height: 33px;
    line-height: 31px;
    font-size: 14px;
    padding: 0 30px;
    border-radius: 4px;
}

.button.icon:before, .button.icon-left:before, .button.icon-right:before {
	line-height: 34px !important;
}

// TABS
.tabs-striped.tabs-color-calm .tab-item.tab-item-active
{
    color: #FFFFFF;
    border: 1 solid $calm;
}

.tabs-striped.tabs-color-calm .tab-item {
    color: rgba(255, 255, 255, 0.4);
    opacity: 1;
}

.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
    margin-top: 1px;
    border-width: 0px 0px 4px 0px !important;
    border-style: solid;
}

.tabs-striped.tabs-color-calm .tab-item.tab-item-active, .tabs-striped.tabs-color-calm .tab-item.active, .tabs-striped.tabs-color-calm .tab-item.activated {
    color: #FFFFFF;
    border: 0 solid $calm;
}

.tab-item{
	max-width:50% !important;
	text-decoration : none !important;
}

// GRID

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.col-85 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 85%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
}


// Menu padding-left
//left menu 
.left-menu-su{
    .header-menu{
	    background: url(../img/logo/top.png) center no-repeat;
	    background-size: cover;
	    border: none;
	    height: 160px;
	    position: relative;
	    background-position-y: -22px;
        .text-image{
		    bottom: 0px;
		    left: 0px;
		    position: absolute;
		    line-height: 11px;
		    width: 100%;
		    padding-top: 10px;
		    padding-bottom: 0px;
		    padding-left: 5px;
		    height: 30px;
		    background-color: #81c241;
	    	.family{
	    		font-size: 12px;
	    	}
	    	.name-family{
	    		text-transform: uppercase;
	    		font-size: 23px;
	    	}
		}
    }

    .menu-su{
        text-align: left;
        width: 100%;
        .scroll{
            min-height: 100%;
        }

        .list:before{
            background-color: transparent;
            content: "";
            display: block;
            height: 2px;
            margin: 0 auto;
            width: 95%;
        }

        .block-menu{
            display : block;
            padding: 20px 5% 20px 5%;
        }

        .item{
            background: transparent;
            border: none;
            margin-top: 1px;

            &:after{
                background-color: transparent;
                content: "";
                display: block;
                height: 2px;
                margin: 0 auto;
                width: 95%;
            }
        }



        .item-content{
            background: transparent;
             padding:0px 0px 0px 25px;
        }


        .button{
            padding: 0px 0px;
        }
            
        .list-menu{



	        a:hover, a:focus {
			    color: $violet-dark;
			    text-decoration: underline;
			}

        	.list:last-child {
			    margin-bottom: 0px;
			    margin-top: 0px;
			    background-color: $violet-medium  !important;
			    padding-top: 5px;
			    padding-bottom: 0px;
			}
	        .item-menu{
	            .icone-menu{
	                display: inline-block;
	                vertical-align: center;
	                margin-left: 10px;
	                margin-right: 10px;
	                font-size: 26px;
	            }

	            h2{
	              	display: inline-block;
	              	vertical-align: top;
	              	margin-top: 11px;
	              	font-size: 12px; 
	            }
	        }
	    }

	    .item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
		    background-color: $violet-dark  !important;
		}

	    .toggle.toggle-balanced input:checked + .track {
		    border-color: $green-light ;
		    background-color: $green-light ;
		}

		.toggle-small .toggle-balanced input:checked + .track .handle {
		    background-color: #FFFFFF;
		}
	    .footer-menu{
			margin-top: 10px;
    		border: none;
    		height: 60px;
    		position: relative;
	        .button-footer-menu{
			    position: relative;
			    top: 10px;
			    margin: 0 auto;
			    text-align: center;
			    display: block;
			    padding: 0px 20px;
	        }


	        .toggle {
			 	position: absolute;
			    top: 10px;
			    left: 40px;
			    z-index: 3;
			}
	        .toggle .track {
			    height: 20px;
			    width: 40px;
			}

			.toggle .handle {
				//ANDOIRD
				height: 16px;
			    width: 18px;
			    top: 7px;
			    left: 8px;


				/// IOS
			    // height: 16px;
			    // width: 16px;
			}
	        .item-toggle{
	        	margin-top: 15px;
	        }
	        .toggle-label{
			    display: inline-block;
			    vertical-align: top;
			    margin-top: 11px;
			    font-size: 12px;
			    top: -31px;
			    left: 90px;
			    position: relative;
            }
            .toggle-texte{
			    display: inline-block;
			    vertical-align: top;
			    margin-top: 11px;
			    font-size: 12px;
			    top: -31px;
			    left: -38px;
			    position: relative;
			    z-index: 10;
            }

	    }
    }
}
