
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
    .download-img{
        font-size: 34px;
        position: absolute;
        right: 0;
        width: 44px;
        z-index: 1000;
        height: 43px;
        border-bottom-left-radius: 10px;
        background-color: #00cbcc;
        border: hidden;
    }

 
.transparent {
    background: rgba(17, 17, 17, 0.62) !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 80%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
 
.slider {
    width: 100%;
    height: 100%;
        background: rgba(0, 0, 0, 0.24);
}

.centerme {
    margin: 0 auto;
    width: 100%;
    height:100%;
}

.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}


.videocontainer {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}
 
.videocontainer iframe, .videocontainer embed, .videocontainer object {
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
}


.videoModal{
    .scroll-content {
      display: table !important;
      width: 100% !important;
      height: 100% !important;
    }
    .scroll {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
}

