<button class="button  ion-android-download download-img white" ng-click="download(data.nameImg)" ></button>
<div class="modal image-modal transparent" ng-click="closeModal()">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="0">
        <ion-slide >
<!--         	<div class="download">
	        	<a class="button button-icon icon ion-android-download white download-icon" style="position: absolute;right: 0;"></a>
	        </div> -->

            <img ng-src="{{data.image}}" class="fullscreen-image"/>
        </ion-slide>
    </ion-slide-box>
<!--     	        <div class="download">
	        	<a class="button button-icon icon ion-android-download white download-icon" style="position: absolute;right: 0;"></a>
	        </div> -->
</div>

<!--  -->
