<div class="modal transparent videoModal" ng-click="closeModal()">
	<ion-content >
        <div class="row row-center" style="margin:0px !important; height: 100%; padding: 0px;">
          	<div class="col col-center" style="margin:0px !important;height: 60%; padding: 0px;">
                <iframe src="http://www.youtube.com/embed/5OSHFV_N11g?enablejsapi=1" class="centerme" frameborder="0" ></iframe>
          	</div>
        </div>
	</ion-content>
</div>
