<ion-view   hide-nav-bar="true">
	<ion-content  class="select-child">
		<div class="top-image"  style="background:url(img/top/seleccion_ipad.jpg) center no-repeat; background-size:cover;" >
			 <div class="shape-img">
			 	<div class="text-titre text-image white roboto-b">
					<span class="family">Familia </span><span class="name-family">{{data.lastname}}</span>
				</div>
				</div>
		</div>
		<div class="sub-bar background-violet-medium">
			<div class="text-sub-bar white roboto-b">
				Selecciona un perfil
			</div>
		</div>

		<div class="child-list">
			<div class="row child" ng-repeat="child in data.child">
	            <div class="col col-25">
	                <div ng-click="SelectChild(child.id, child.photo)"  class="profile" ng-style="{'background': 'url('+$root.backImagesUrl+'/child/'+child.photo+') center no-repeat', 'background-size':'cover'}"></div>
	            </div>
	            <div class="col col-75 block-infos">
	            	<div ng-click="SelectChild(child.id, child.photo)" class="infos background-red-dark" >
	               		<div  class="name white roboto-b"> {{child.name}} </div>
	               		<div  class="group white roboto-l"> Grupo {{child.grad}} - {{child.group}} primaria </div>
	               		<div  class="icon ion-chevron-right white arrow"></div>
	                </div>
	            </div>
	        </div>
        </div>
		<a ng-href="tel:{{data.phone}}">   
			<button class="button button-icon  background-calm white button-tel icon-left ion-ios-telephone roboto-r end-section">
				      LLAMAR AL COLEGIO
			</button>
		</a>

	</ion-content>
</ion-view>