.select-child{
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;

	.scroll{
		min-height: 100%;
	}

	.icone-info{
		top: 7px;
    	position: relative;
	}
	
	.logo{
		max-width: 300px;
		width: 70%;
		position: relative;
		top: 25%;
	}

	.text-image{
		bottom: 5px;
    	left: 5px;
    	position: absolute;
    	.family{
    		font-size: 22px;
    	}
    	.name-family{
    		font-size: 35px;
    	}
	}

	.shape-img{
		background-color: rgba(37, 37, 37, 0.15);
	    width: 100%;
	    height: 100%;
	}


	@media screen and (min-width: 500px) { 
		.text-image{
			bottom: 20px;
	    	left: 5px;
	    	position: absolute;
	    	.family{
	    		font-size: 42px;
	    	}
	    	.name-family{
	    		font-size: 55px;
	    	}
		}
	}

	@media screen and (max-width: 500px) { 
		.text-image{
			bottom: 5px;
	    	left: 5px;
	    	position: absolute;
	    	.family{
	    		font-size: 22px;
	    	}
	    	.name-family{
	    		font-size: 35px;
	    	}
		}
	}

	.text-sub-bar{
	    top: 8px;
	    position: relative;
	    font-size: 15px;
	}

	

	.child-list{
		margin-top: 15px;
		.child{
		    padding: 0px;
		    height: 90px;
		    margin: 0 5%;
			.profile{
			    border-style: solid;
			    border-color: $gray-medium;
			    border-width: 2px;
			    height: 70px;
			    top: 7px;
			    max-width: 70px;
			    max-height: 70px;
			    width: 100%;
			    border-radius: 50%;
			    text-align: center;
			    margin: 0 auto;
			}
			.block-infos{
				.infos{
				    padding-left: 5px;
				    height: 60px;
				    max-width: 80%;
				    min-width: 180px;
				    margin-top: 5px;
				    border-radius: 4px;
				    position: relative;
					.name{
						text-align: left;
					    top: 8px;
					    position: absolute;
					    font-size: 18px;
					    width: 80%;
					    left: 10px;
					    text-transform: capitalize;
					}
					.group{
					    text-align: left;
					    top: 30px;
					    position: relative;
					    font-size: 13px;
					    width: 80%;
					    position: absolute;
					    left: 10px;
					}
					.arrow{
					        position: absolute;
						    right: 12px;
						    top: 20px;
					}
				}
			}
		}
	}
}