	// .tabsfix .tabs-striped .tabs-background-positive .tabs-color-calm .slide-right-left .tabs-school .tabs-bottom .tabs-standard .tabsfix {
	//     background-color: #332566;
	//     background-image: none;
	//     position: absolute;
	//     top:0px;
	// }

	.block-tabs-fix{
	    position: absolute;
	    top: 0px;
	    z-index: 10;
	    width: 100%;
    	text-align: center;
	    // .button-tabs{
	    // 	width: 32%;
		   //  margin: 0;
		   //  border: hidden;
		   //  border-radius: 0;
		   //  color: rgba(255, 255, 255, 0.4);
    	// 	opacity: 1;
	    // }


	    //  .active-tabs{
	    //  	padding-top:5px;
		   //  color: #FFFFFF;
		   //  border-bottom: 0 solid #ac0064;
		   //  border-width: 5px;
		   //  }
    }

    .button-tabs{
	    width: 32%;
	    line-height: 15px;
	    margin: 0;
	    border: hidden;
	    border-radius: 0;
	    color: rgba(255, 255, 255, 0.4);
	    opacity: 1;
	    font-size: 13px;
    }


	.activeTabs{
	    padding-top: 2px;
	    color: #FFFFFF !important;
	    border-bottom: 0 solid $calm;
	    border-width: 4px;
	}

.school{
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;

	.scroll{
		min-height: 100%;
	}

	.back-icon{
	    top: 5px;
	    left: 5px;
	    position: absolute;
	    max-width: 37px;
	    min-width: 37px;
	    .menu-icon{
	    	font-size: 37px;
	    }
	}

	.compartir{
	    background: url("../img/btn/compartir.png") center no-repeat !important;
	    background-size: cover !important;
	    width: 46px;
	    height: 46px;
	    position: absolute;
	    right: 5px;
	    top: 5px;
	}

	.school-infos{
		font-size: 12px;
	    text-align: left;
	    white-space: normal;
	    border-left: #e2e2e2;
	    border-left-style: solid;
	    border-width: 2px;
	    padding-left: 10px;
	    padding-top: 10px;
		p{
			font-size: 12px;
			text-align: left;
			white-space: normal;
		}
		ul{
			padding-left: 20px;
			li{
				font-size: 12px;
				text-align: left;
				white-space: normal;
				margin:5px 0px;
				list-style-type: disc;
			}
		}
	}


    .text-image{
	    bottom: 5px;
	    //bottom:35px;
	    left: 5px;
	    position: absolute;
	    line-height: 16px;
	    text-align: left;
    	.name{
    		font-size: 20px !important;
    		margin-bottom:5px;
    	}
    	.subtitle{
    		font-size: 13px !important;
    	}
	}

	.text-video{
		bottom: 0px;
	    left: 0px;
	    position: absolute;
	    line-height: 11px;
	    width: 100%;
	    padding-top: 10px;
	    padding-bottom: 0px;
	    padding-left: 5px;
	    height: 30px;
	    background-color: rgba(255,255,255,0.50);

	    .play{
	    	width: 20px;
		    margin-top: -5px;
		    background-color: #ff3b5c;
		    height: 20px;
		    border-radius: 50%;
		    display: inline-block;
		    padding-top: 3px;
    		padding-left: 2px;
	    }
	    .link{
	    	width:150px;
	    	display:inline-block;
	    }
	}


	.ajusteMarge{
		margin-top:49px;
	}

	.infos-list{
		margin-top:10px;
		.mission{
		    padding: 15px 10px;
		    border: hidden;
			.title{
			    margin-top: 20%;
			    position: relative;
			}
			.infos{
				font-size: 9px;
			    text-align: left;
			    white-space: normal;
			    border-left: #e2e2e2;
			    border-left-style: solid;
			    border-width: 2px;
			    padding-left: 10px;
			    min-height: 60px;
				p{
					font-size: 9px;
    				text-align: left;
    				white-space: normal;
				}
				ul{
					padding-left: 20px;
					li{
						font-size: 9px;
	    				text-align: left;
	    				white-space: normal;
	    				margin:5px 0px;
	    				list-style-type: disc;
					}
				}
			}
		}

		.objectif{
		    padding: 0px 7%;
		    border: hidden;
			.title{
			    width: 100%;
			    margin-bottom: 10px;
			}
			.infos{
				font-size: 9px;
			    text-align: left;
			    white-space: normal;
				p{
					font-size: 9px;
    				text-align: left;
    				white-space: normal;
				}
				ul{
					padding-left: 20px;
					li{
						font-size: 9px;
	    				text-align: left;
	    				white-space: normal;
	    				margin:5px 0px;
	    				list-style-type: disc;
					}
				}
			}
		}
	}

	.shape-img{
		background-color: rgba(37, 37, 37, 0.20);
	    width: 100%;
	    height: 100%;
	}

	.list:last-child {
	    margin-bottom: 100px;
	}

	.item{
		min-height: 92px!important;
	    margin-right: 0px !important;
    	margin-left: 0px !important;
   	}
}

