<ion-view   hide-nav-bar="true" title='<i class="icon ion-android-chat icone-menu white"></i> <span class="roboto-l"> PREGUNTAS FREQUENTES </span>'> 


  <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-calm slide-right-left tabs-school-fixe" ng-if="data.fixe">

        <ion-tab title="MIS HIJOS">
        </ion-tab>

        <ion-tab title="GENERAL">

        </ion-tab>


    </ion-tabs>

    <!-- <div class="top-image"  ng-style="{'background': 'url(img/top/colegio.jpg) center no-repeat', 'background-size':'cover'}" > -->
    <ion-content delegate-handle="test"  on-scroll="getScrollPosition()" class="school">

        <div class="top-image"  ng-style="{'background': 'url(img/top/colegio.jpg) center no-repeat', 'background-size':'cover'}" >
<!--             <a ng-click="GoListTeacher()" class="button icon-left ion-chevron-left button-icon white back-icon"></a>
            <div class="text-titre text-image white roboto-b">
                <span ng-if="data.teacher.gender == 0" class="prof">Profra. {{data.teacher.name}} {{data.teacher.last_name}}</span>             
                <span ng-if="data.teacher.gender == 1" class="prof">Prof. {{data.teacher.name}} {{data.teacher.last_name}}</span><br>
                <span class="roboto-l position">{{data.teacher.position}}</span>
            </div>
            <a class="button button-icon contact" ng-click="SendEmail()">

            </a> -->
        </div>
       <ion-tabs class="tabs-striped tabs-background-positive tabs-color-calm slide-right-left tabs-school">

        <ion-tab title="MIS HIJOS">
            <div class="aviso header-school" >

                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>

                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>

                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>  

                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>

                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>

                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                54354365453435435sa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>

                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>

                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>

                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>

                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>


             <!--    <div class="child-list">
                    <div ng-repeat="child in data.avisoChild" class="child background-gray-light2">
                        <div  class="profile" ng-style="{'background': 'url('+$root.backImagesUrl+'/child/'+child.photo+') center no-repeat', 'background-size':'cover'}"></div>
                            <div  class="name gray-medium roboto-b"> {{child.name}} </div>
                            <div  class="group gray-medium roboto-l"> Grupo {{child.group}} - {{child.grad}} primaria </div>
                        <ion-list class="aviso-list">
                            <ion-item ng-repeat="aviso in child.aviso" class="row item-stable background-gray-light2" ng-click="OpenAvisoChild($parent.$parent.$index, $index)"
                                    ng-class="{active: aviso.opened, fullAviso: aviso.opened, aviso: !aviso.opened }">
                                <div class="col col-15">
                                    <div class="date-aviso">
                                        <div class="day roboto-b gray-medium">
                                            {{aviso.date | date:"dd"}}
                                        </div>
                                        <div class="month roboto-b gray-medium">
                                            {{aviso.date | date:"MMM"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-85 block-infos" >
                                    <div class="infos background-green-dark">
                                        <div  class="title white roboto-b" ng-class="{nowrap: aviso.endUp, wrap: aviso.endDown}"> {{aviso.title}} </div>
                                        <p  class="content white roboto-l"> {{aviso.content}}</p>
                                        <div  class="icon ion-chevron-down arrow"></div>
                                    </div>
                                </div>
                            </ion-item>        
                        </ion-list>
                    </div>
                </div> -->
            </div>
        </ion-tab>

        <ion-tab title="GENERAL">
            <div class="aviso header-school">
                         sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>

                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>

                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>

                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sasccdaCascwvbtqenhjteh<br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>

                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>

                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                sascdsa <br>
                
<!--                 <ion-list class="aviso-list">
                    <ion-item ng-repeat="aviso in data.avisoGeneral" class="row item-stable" ng-click="OpenAvisoGeneral($index)"
                            ng-class="{active: aviso.opened, fullAviso: aviso.opened, aviso: !aviso.opened}">
                        <div class="col col-15">
                            <div class="date-aviso">
                                <div class="day roboto-b gray-medium">
                                    {{aviso.date | date:"dd"}}
                                </div>
                                <div class="month roboto-b gray-medium">
                                    {{aviso.date | date:"MMM"}}
                                </div>
                            </div>
                        </div>
                        <div class="col col-85 block-infos" >
                            <div class="infos background-green-dark">
                                <div  class="title white roboto-b" ng-class="{nowrap: aviso.endUp, wrap: aviso.endDown}"> {{aviso.title}} </div>
                                <p  class="content white roboto-l"> {{aviso.content}}</p>
                                <a  href="{{data.link}}/{{aviso.media}}" ng-if="aviso.type_media === 'pdf'" class="button button-icon white download">
                                        <img src="img/pdf.png" class="pdf-icone" height="25px" >
                                        DESCARGAR
                                </a>

                                <a ng-click="showImages(aviso.media)" ng-if="aviso.type_media === 'img'" class="button button-icon white download">
                                        <img src="img/imagedl.png" class="image-icone" height="30px" >
                                        DESCARGAR
                                </a>
                                <div  class="icon ion-chevron-down arrow"></div>
                            </div>
                        </div>
                    </ion-item>        
                </ion-list> -->
            </div>
        </ion-tab>


    </ion-tabs>
	</ion-content>
 </ion-view> 

<!--  <div ng-app="ep" ng-controller='SchoolCtrler'>
  <span class='scroll-debug' scroll-position="scroll">{{scroll}}</span>
  <h1 ng-class="{small: scroll > 50, big: scroll <= 50}">Test</h1>
</div> -->

<!--  <ion-view  hide-nav-bar="true" title='<i class="icon ion-android-chat icone-menu white"></i> <span class="roboto-l"> PREGUNTAS FREQUENTES </span>'>    
           <ion-tabs class="tabs-assertive  tabs-top " ng-class="{'tabs-super-top': data > 85, 'tabs-top': data < 85}">
        
          <ion-tab  title="Tab1  : {{data.scroll}}"   >
            <ion-content delegate-handle="test" on-scroll="getScrollPosition()"  ng-class="{'has-super-tabs': data > 85}">
             <ul class="list" ng-repeat=" cnt in contact">
    <li class="item">
      {{cnt.name}}
    </li>
</ul>
                  
            </ion-content>
         </ion-tab>
         
              <ion-tab  title="Tab2"  >
            <ion-content on-scroll="getScrollPosition()"  ng-class="{'has-super-tabs': data > 85}" >
            <h2>Content</h2>

            <p>Tab 2</p>
            <p>Tab 2</p>
              <p>Tab 2</p>
            <p>Tab 2</p>
              <p>Tab 2</p>
            <p>Tab 2</p>
              <p>Tab 2</p>
            <p>Tab 2</p>
              <p>Tab 2</p>
            <p>Tab 2</p>
              <p>Tab 2</p>
            <p>Tab 2</p>
              <p>Tab 2</p>
            <p>Tab 2</p>
              <p>Tab 2</p>
            <p>Tab 2</p>
                      
                    
            </ion-content>
         </ion-tab>
         
       
     </ion-tabs>


<div class="tabs tabs-assertive abc"  ng-hide="data > 85">
  <a class="tab-item">
    Home
  </a>
  <a class="tab-item">
    Favorites
  </a>
  <a class="tab-item">
    Settings
  </a>
</div>
 </ion-view> -->