<ion-view    hide-back-button="true"  hide-nav-bar="true" title='<i class="icon ion-android-chat icone-menu white"></i> <span class="roboto-l"> PREGUNTAS FREQUENTES </span>'> 
    <div class="block-tabs-fix  background-violet-light" ng-if="data.fixe" >
        <button class="button button-icon button-tabs background-violet-light roboto-l active-tabs" ng-class="{activeTabs: data.idxTab === 1}" ng-click="changeTabs(1)">MISION Y VISION</button>
        <button class="button button-icon button-tabs background-violet-light roboto-l" ng-class="{activeTabs: data.idxTab === 2}" ng-click="changeTabs(2)" >SISTEMA EDUCATIVO</button>
        <button class="button button-icon button-tabs background-violet-light roboto-l" ng-class="{activeTabs: data.idxTab === 3}" ng-click="changeTabs(3)">HISTORIA</button>
    </div>
  
    <ion-content delegate-handle="test"  on-scroll="getScrollPosition()" class="school">

        <div class="top-image"  ng-style="{'background': 'url(img/top/colegio.jpg) center no-repeat', 'background-size':'cover'}" >
            <div class="shape-img">
                <div ng-click="OpenMenu()"  class="button button-icon back-icon mtios">   
                    <a class="icon-left ion-navicon white menu-icon"></a> 
                </div>
                <div class="text-titre text-image white roboto-b">
                    <div class="name">{{data.school.name}}</div>      
                    <div class="roboto-l subtitle">{{data.school.subtitle}}</div>
                </div>
        <!--         <div class="text-video">
                    <div ng-click="playVideo()" class="play">     
                        <i class="icon ion-play icone-menu white"></i>
                    </div>      
                    <div ng-click="playVideo()" class="link roboto-b violet-light"><u>Ver Video Institucional</u></div>
                </div> -->
                <!--<a class="button button-icon compartir" ng-click="Compartir()">

                </a>-->
            </div>
        </div>
        <div class="block-tabs background-violet-light" ng-if="!data.fixe">
            <button class="button button-icon button-tabs background-violet-light roboto-l active-tabs" ng-class="{activeTabs: data.idxTab === 1}" ng-click="changeTabs(1)">MISION Y VISION</button>
            <button class="button button-icon button-tabs background-violet-light roboto-l" ng-class="{activeTabs: data.idxTab === 2}" ng-click="changeTabs(2)">SISTEMA EDUCATIVO</button>
            <button class="button button-icon button-tabs background-violet-light roboto-l" ng-class="{activeTabs: data.idxTab === 3}" ng-click="changeTabs(3)">HISTORIA</button>
        </div>


            <!-- ////////////// VISION Y MISION ///////////////// -->
            <div ng-if="data.idxTab === 1" ng-class="{ajusteMarge: data.fixe}">
                <ion-list class="infos-list">
                    <ion-item class="row mission">
                        <div class="col col-25">
                             <div class="title gray-black roboto-b ">Mision</div>
                        </div>
                        <div  class="col col-75 gray-black" >
                            <div  class="infos" ng-bind-html="data.school.mission" >
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="row mission">
                        <div class="col col-25">
                             <div class="title gray-black roboto-b">Vision</div>
                        </div>
                        <div  class="col col-75 " >
                            <div  class="infos" ng-bind-html="data.school.vision" >
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="objectif">
                        <div class="title gray-black roboto-b">Objetivos</div>
                        <div  class="infos" ng-bind-html="data.school.objective" >
                        </div>
                    </ion-item>     
                </ion-list>
            </div>


            <!-- //////////// Sistema EDUCATIVO /////////////////// -->
            <div ng-if="data.idxTab === 2" ng-class="{ajusteMarge: data.fixe}">
               <div class="school-infos roboto-l gray-dark" ng-bind-html="data.school.education" >
               </div>
            </div>

            <!-- ////////////////// HISTORIA /////////////////////// -->
            <div ng-if="data.idxTab === 3" ng-class="{ajusteMarge: data.fixe}">
                <div class="school-infos roboto-l gray-dark" ng-bind-html="data.school.history">
               </div>
            </div>
	</ion-content>
 </ion-view> 
