<ion-view  title=' <i class="icon ion-android-person icone-menu white"></i> <span class="roboto-l"> ELIGE UN PROFESOR </span>' hide-back-button="true" hide-nav-bar="false">
	<ion-content  class="list-teacher">
		<ion-list class="teacher-ls">
			<ion-item ng-repeat="teacher in data.teacher" class="row teacher" ng-class="{lastTeacher: $last}">
	            <div class="col col-33">
	                 <div ng-click="GoTeacherProfile(teacher.id)" class="profile" ng-style="{'background': 'url('+$root.backImagesUrl+'/teacher/'+teacher.photo+') center no-repeat', 'background-size':'cover'}"></div>
	                 <img ng-click="SendEmail($index)" class="button  button-icon email" src="img/btn/correo.png"/>
	            </div>
	            <div  ng-click="GoTeacherProfile(teacher.id)" class="col col-67 block-infos" >
	            	<div class="infos">
	               		<p  class="title  gray-dark roboto-b"> {{teacher.name}} {{teacher.last_name}} </p>
	               		<p  class="content  gray-dark roboto-l"> {{teacher.position}} / {{teacher.birthday}} años
	               			<br> 
	               			<span ng-repeat="course in teacher.course"> {{course.name}} </span>
	               		</p>
	                </div>
	                <div class="icon ion-chevron-right  green-dark arrow"></div>

	            </div>
	        </ion-item>        
        </ion-list>
	</ion-content>
	<div ng-if="!data.oneChild"  class="bubble" ng-click="OnSelectedChild()" ng-style="{'background': 'url('+$root.backImagesUrl+'/child/'+$root.data.selectedChild_photo+') center no-repeat', 'background-size':'cover'}"></div>

	<div ng-show="showAllChild" class="liste-bubble">
		<div ng-repeat="child in $root.data.child" ng-if="child.id != $root.data.selectedChild_id" class="bubble" ng-click="CloseBubble();SelectChild(child.id, child.photo)" ng-style="{'background': 'url('+$root.backImagesUrl+'/child/'+child.photo+') center no-repeat', 'background-size':'cover',  'bottom': ''+child.position+'px'}"></div>
	</div>
</ion-view>