

.list-teacher{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;

   // margin-top: 23px;

	.scroll{
		min-height: 100%;
	}


	.teacher-ls{
	    margin-bottom: 200px;

		.lastTeacher{
			margin-bottom: 100px;	
		}
		.teacher{
		    padding: 14px 10px;
		    height: 110px;
		    margin-right: 0px;
		    margin-left: 0px;
			.profile{
			    border-style: solid;
			    border-color: $gray-medium;
			    border-width: 2px;
			    height: 70px;
			    top: 7px;
			    max-width: 70px;
			    max-height: 70px;
			    width: 100%;
			    border-radius: 50%;
			    text-align: center;
			    margin: 0 auto;
			}

			.title{
				font-size: 15px;
    			font-weight: 800;
			}

			.content{
				font-size:13px;
			}

			.infos{
				text-align:left;
			}

			.email{
			    max-height: 31px;
			    min-height: 31px;
			    position: relative;
			    top: -28px;
			    left: 28px;
			}

			.arrow{
				position: absolute;
			    right: 5px;
			    top: 50%;
			    margin-top: -10px;
			}
		}
	}
}