
$get-path-to-assets : "http://localhost/soccerUp-app/www/img";

.preview{
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;
	
	.logo{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 270px;
		margin: -120px 0 0 -135px;
	}

}