<style type="text/css">
	.invisible {opacity: 0;}
</style>
<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content >
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button ng-show='hasLeftMenu' class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="main" animation="no-animation"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu is-enabled="hasLeftMenu" side="left" class="left-menu-su">
        <ion-content scrollbar-y="false"  class="menu-su background-violet-light">
            <div class="header-menu  background-violet-medium">
                <div class="text-image white roboto-b ">
                    <span class="family">Familia </span><span class="name-family">{{data.lastname}}</span>
                </div>
            </div>
            <ion-list class="list-menu background-violet-medium">
                <ion-item class="item-menu"  ui-sref="app.aviso" ng-click="toggleLeft()">
                    <i class="icon ion-android-textsms icone-menu white"></i>
                    <h2 class="roboto-b white">Avisos</h2>
                </ion-item>
                <ion-item class="item-menu" ui-sref="app.calendar({ currentDate: 'now'})"  ng-click="toggleLeft()">
                    <i class="icon ion-android-calendar icone-menu white"></i>
                    <h2 class="roboto-b white">Calendario escolar </h2>
                </ion-item>
                <ion-item class="item-menu"  ui-sref="app.list-teacher" ng-click="toggleLeft()" ng-if="role == 'family'">
                    <i class="icon ion-android-person icone-menu white"></i>
                    <h2 class="roboto-b white">Conoce al profesor {{tesitemt}}</h2>
                </ion-item>
                <!--<ion-item class="item-menu background-violet-medium" ui-sref="app.rating" ng-if="role == 'family'" ng-click="toggleLeft()">
                    <i class="icon ion-android-list icone-menu white"></i>
                    <h2 class="roboto-b white">Calificaciones </h2>
                </ion-item>-->
                <ion-item class="item-menu background-violet-medium"  ui-sref="app.school" ng-click="toggleLeft()" ">
                    <i class="icon ion-android-compass icone-menu white"></i>
                    <h2 class="roboto-b white">Acerca del colegio </h2>
                </ion-item>
                <ion-item class="item-menu background-violet-medium"  ui-sref="app.faq" ng-click="toggleLeft()" ">
                    <i class="icon ion-android-chat icone-menu white"></i>
                    <h2 class="roboto-b white">Preguntas frecuentes </h2>
                </ion-item>
                <ion-item class="item-menu background-violet-medium" href="" ng-click="logout();toggleLeft()">
                    <i class="icon ion-paper-airplane icone-menu white"></i>
                    <h2 class="roboto-b white">Salir </h2>
                </ion-item>
                <div class="footer-menu background-violet-light">
                    <a ng-href="tel:{{data.phone}}">                           
                        <button class="button button-icon background-calm white button-tel icon-left ion-ios-telephone roboto-r button-footer-menu">
                        LLAMAR AL COLEGIO
                        </button>
                    </a>
                    <ion-toggle ng-change="ChangeNotif()" ng-model="data.notif" toggle-class="toggle-balanced "></ion-toggle>
                    <h2 class="roboto-b white toggle-label"> Notificaciones </h2>
                    <h2 ng-if="data.notif" class="roboto-b white toggle-texte"> Sí </h2>
                </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
