.calendar{


	.scroll{
		min-height: 100%;
	}

	.datepicker-container{
		text-transform: uppercase;
		background-color: $calm;



		.btn-info {
		    color: #ffffff;
		    background-color: #FF3B5C;
		    border-color: #FF3B5C;
		}

		.btn-default {
		    color: #333;
		    background-color: rgba(99, 80, 80, 0);
		    border-color: #ccc;
		    color:#FFFFFF;
		}
		.btn[disabled], fieldset[disabled] .btn {
		    opacity: 1;
		}

		.month-picker{
			height:263px;
		}
		table{
			background-color:$calm;
		    width: 94%;
		    margin: 0 auto;

			.text-info {
			    color: #FFFFFF;
			}

			.text-muted {
			    color: rgba(255, 255, 255, 0.42);
			}

			thead{
				tr:first-child{
					// border-bottom: 1px solid $gray-medium;
					// border-top: 1px solid $gray-medium;
					background-color:$calm;
					// @include font(18px, 600, $gray2);

					th{
						padding: 0;
						vertical-align: top;
						padding: 5px 0;
						button{
							border: none;
							text-transform:uppercase;
							i{
								display: none
							}
						}

						&:first-child button, &:nth-child(3) button{
							height: 28px;
							width: 32px;
							background-size: auto 85%;
							background-repeat: no-repeat;
							background-position: center;

						}
						&:first-child button{
							background-image: url(../img/icono-flecha-izq.png);
							position: relative;
    						left: 12px;
						}

						&:nth-child(3) button{
							background-image: url(../img/icono-flecha-der.png);
							position: relative;
    						right: 12px;
						}
					}
				}
				tr:nth-child(2){
					th{  
						padding: 20px 0 10px;
						font-family: Roboto-light;
						color:#FFFFFF;
					}
				}
			}

			tbody{
				tr{
					td{
						button{
							border: none;
							padding: 5px 2px!important;
							font-family: Roboto-black;
							span{
								padding: 6px 7px;
							}
							&.active{
								    background-image: none;
								    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
								    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
								span{
									background-color: #f27e00;
								    border-radius: 50%;
								    /* background-size: 128px; */
								       padding: 6px 7px;
								}
							}
						}
					}

					/*.event button span {
						background-color: limegreen;
						border-radius: 32px;
						color: black;
					}*/
					.disable button{
							border: none;
							padding: 5px 2px!important;
							font-family: Roboto-black;
							span{
								padding: 6px 7px;
							}
							&.active{
								    background-image: none;
								    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
								    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
								span{
									background-color: #f27e00;
								    border-radius: 50%;
								    /* background-size: 128px; */
								       padding: 6px 7px;
								}
							}
						}
					
					.event button{

						span{
							position: relative;
							// &::after {
							//     // background-color: #27c1fd;
							//     // border-radius: 32px;
							//     // color: black;
							//     // content: '';
							//     // height: 6px;
							//     // left: 50%;
							//     // margin-left: -3px;
							//     // position: absolute;
							//     // text-align: center;
							//     // top: 1px;
							//     // width: 6px;

							// 	background-color: rgba(0, 0, 0, 0);
							//     border-color: $green-dark;
							//     border-radius: 32px;
							//     border-style: solid;
							//     border-width: 2px;
							//     color: black;
							//     content: '';
							//     height: 26px;
							//     left: 50%;
							//     margin-left: -13px;
							//     position: absolute;
							//     text-align: center;
							//     top: 0px;
							//     width: 26px;							
							// }
							&::before {
							    background-color:#4192f2;
							    border-radius: 32px;
							    color: black;
							    content: '';
							    height: 5px;
							    left: 50%;
							    margin-left: -3px;
							    position: absolute;
							    text-align: center;
							    top: 21px;
							    width: 5px;

								// background-color: rgba(0, 0, 0, 0);
							 //    border-color: $blue-light;
							 //    border-radius: 32px;
							 //    border-style: solid;
							 //    border-width: 2px;
							 //    color: black;
							 //    content: '';
							 //    height: 26px;
							 //    left: 50%;
							 //    margin-left: -3px;
							 //    position: absolute;
							 //    text-align: center;
							 //    top: 0px;
							 //    width: 26px;							
							}
						}
					}
						.partially button span {
						background-color: orange;
						border-radius: 32px;
						color: black;
					}
				}
			}
		}
	}
	.event-item{
		background-color: #f3f3f3;
		padding: 25px 10px;
  		border-top: 1px solid #ccc;
  		position: relative;
		.title-item-event{
			// @include font(16px, 500, Roboto-black);
			margin: 0;
			padding-right: 100px;
		}
		.time-event{
			// @include font(16px, 500, Roboto-black);
			margin: 0;
			right: 35px;
			position: absolute;
			text-align: right;
			top: 25px;
		}
		.event-arrow{
			background: url(../img/icono-flecha-gris.png) center no-repeat;
			background-size: auto 70%;
			height: 25px;
			position: absolute;
			right: 5px;
			top: 35%;
			width: 16px;
		}
	}

	.event-list{
	    //margin-top: 25px;
	 //   margin-bottom: 200px;
		.event{
			padding: 15px 10px;
		    transition: 0.5s max-height ease-out;
		    padding: 15px 10px;
		    position: relative;
		    .block-image{
		    	padding:0px;
		    }
			.profile{
			    border-style: solid;
			    border-color: #CCCCCC;
			    border-width: 2px;
			    top: 30px;
			    position: relative;
			    margin: 0 auto;
			    max-width: 50px;
			    z-index: 5;
			    border-radius: 50%;
    		}
    		.profile-school{
			    top: 30px;
			    position: relative;
			    margin: 0 auto;
			    max-width: 37px;
			    max-height: 37px;
			    z-index: 5;
			    min-height: 37px;
    		}
			.profile:before{
			    content:'';
			    padding:42% 0; /* vertical value as  100% equals width */
			    display:inline-block;
			}
    		.date-event{
			    top: -5px;
			    position: relative;
			    margin: 0 auto;
			    .day{
			    	font-size: 20px;
			    }
			    .month{
			    	font-size: 16px;
			    }
			}
			.block-infos{
				padding: 6px 5px;
				.time{
					font-size: 12px;
				}
				.infos{
				    transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
				    padding-left: 5px;
				    max-height: 72px;
				    min-height: 72px;
				    max-width: 100%;
				    min-width: 180px;
				    /* margin-top: -12px; */
				    border-radius: 4px;
				    position: relative;
				    overflow: hidden;
				        padding-bottom: 2px;
					.title{
						//transition: 0.5s all ease-out;
					    text-align: left;
					    top: 3px;
					    position: relative;
					    font-size: 14px;
					    width: 93%;
					    left: 5px;
					    margin-bottom: 4px;
					    white-space: normal;
					    overflow: hidden;
					    text-overflow: ellipsis;
					}
					.nowrap{
						white-space: nowrap !important;
						overflow: hidden;
					    text-overflow: ellipsis;
					}
					.wrap{
						white-space: normal !important;
					}
					.content{
						transition: 0.5s  max-height ease-out;
					    text-align: left;
					    position: relative;
					    font-size: 11px;
					    width: 88%;
					    height:44px;
					    line-height: 14px;
					    left: 5px;
					    overflow-y: hidden;
					    text-overflow: ellipsis;
					    white-space: normal;
					    p{
					    	color:#FFFFFF;
							font-size: 11px;
							text-align: left;
							white-space: normal;
							margin:0px;
							b{
								font-family: Roboto-black !important;
							}
						}
						ul{
							b{
								font-family: Roboto-black !important;
							}
							padding-left: 20px;
							li{
								font-size: 11px;
								text-align: left;
								white-space: normal;
								margin:5px 0px;
								list-style-type: disc;
								b{
									font-family: Roboto-black !important;
								}
							}
						}
						b{
							font-family: Roboto-black !important;
						}
					}
					.arrow{
					    position: absolute;
					    color:#00AFAA;
					    right: 9px;
					    bottom: -2px;
					    transition: 0.6s;
					}
				}
			}
		}
		.fullEvent{
			padding: 15px 10px;
    		position: relative;
    		min-height: 92px;
			max-height: 500px;
			transition: 0.5s all ease-out;
			// .date-event{
			//     top: -5px;
			//     position: relative;
			//     margin: 0 auto;
			//     .day{
			//     	font-size: 20px;
			//     }
			//     .month{
			//     	font-size: 16px;
			//     }
			// }
			.block-image{
		    	padding:0px;
		    }
			.profile{
			    border-style: solid;
			    border-color: #CCCCCC;
			    border-width: 2px;
			    top: 30px;
			    position: relative;
			    margin: 0 auto;
			    max-width: 50px;
			    z-index: 5;
			    border-radius: 50%;
    		}
    		.profile-school{
			    top: 30px;
			    position: relative;
			    margin: 0 auto;
			    max-width: 37px;
			    max-height: 37px;
			    z-index: 5;
			    min-height: 37px;
    		}
			.profile:before{
			    content:'';
			    padding:42% 0; /* vertical value as  100% equals width */
			    display:inline-block;
			}
			.block-infos{
				  padding: 6px 5px;
				 .time{
					font-size: 12px;
				}
				.infos{
				    transition: 0.5s max-height ease-out;
				    padding-left: 5px;
				    position: relative;
				    min-height: 72px;
				    max-height: 500px;
				    max-width: 100%;
				    min-width: 180px;
				    /* margin-top: -12px; */
				    border-radius: 4px;
				    position: relative;
				        padding-bottom: 2px;
					.title{
						transition: 0.5s all ease-out;
					    text-align: left;
					    top: 3px;
					    position: relative;
					    font-size: 14px;
					    width: 93%;
					    left: 5px;
					    margin-bottom: 4px;
					    white-space: normal;
					    /* line-height: 23px; */
					    //white-space: normal;
					}
					.wrap{
						white-space: normal !important;
					}
					.nowrap{
						white-space: nowrap !important;
					}
					.content{
					    transition: 0.5s  max-height ease-out;
					    text-align: left;
					    /* top: 5px; */
					    font-size: 11px;
					    width: 88%;
					    line-height: 14px;
					    position: relative;
					    left: 5px;
					    white-space: normal;
					    min-height:44px;
					    p{
					    	color:#FFFFFF;
							font-size: 11px;
							text-align: left;
							white-space: normal;
							margin:0px;
							b{
								font-family: Roboto-black !important;
							}
						}
						ul{
							b{
								font-family: Roboto-black !important;
							}
							padding-left: 20px;
							li{
								font-size: 11px;
								text-align: left;
								white-space: normal;
								margin:5px 0px;
								list-style-type: disc;
								b{
									font-family: Roboto-black !important;
								}
							}
						}
						b{
							font-family: Roboto-black !important;
						}
					}
					.arrow{
					    position: absolute;
					    color:#00AFAA;
						right: 9px;
					    bottom: 1px;
					    -ms-transform: rotateX(180deg); /* IE 9 */
					    -webkit-transform: rotateX(180deg); /* Chrome, Safari, Opera */
					    transform: rotateX(180deg);
					    transition: 0.6s;
					}
				}

			}
		}
	}

	.fullEvent.list{
	    margin-top: -2px;
	}

	.item.item-stable {
		min-height: 92px!important;
	    margin-right: 0px !important;
    	margin-left: 0px !important;
   	}

	.download{
	    font-size: 13px;
	    border-color: #FFF;
	    border-style: solid;
	    border-width: 1px;
	    padding: 3px 10px 0px;
	    margin-bottom: 10px;
	    margin-top: 5px;
	    left: 50%;
	    margin-left: -67px;
		.pdf-icone{
		    top: -3px;
		    position: relative;
		}
		.image-icone{
		    top: 0px;
		    position: relative;
		}
	}
}