<ion-view hide-back-button="true" title='<i class="icon ion-android-calendar icone-menu white"></i> <span class="roboto-l"> CALENDARIO ESCOLAR </span>'>
 	<ion-content class="calendar">
    <ion-refresher
        pulling-text="Actualizar"
        on-refresh="doRefresh()">
    </ion-refresher>
 	<datepicker ng-model="data.currentDate" format-month='MMM' max-mode="month"  show-weeks="false" class="datepicker-container" date-disabled="disableDate(date, mode)" custom-class="getDayClass(date, mode)"></datepicker>

    <div ng-if="loaded">
    	<ion-list class="event-list">
    		<ion-item ng-repeat="event in data.dayEvents" class="row item-stable" ng-click="OpenEvent($index)"
                    ng-class="{active: event.opened, fullEvent: event.opened, event: !event.opened}">
                <div class="col col-15 block-image">
                    <div ng-if="event.photo === null" class="profile-school" ng-style="{'background': 'url(img/logo/logo100.png) center no-repeat', 'background-size':'cover'}"></div>
                    <div ng-if="event.photo != null" class="profile" ng-style="{'background': 'url('+$root.backImagesUrl+'/child/'+event.photo+') ', 'background-size':'cover'}"></div>
                </div>
                <div class="col col-85 block-infos" >
                    <div  class="time gray-dark roboto-l"> {{event.time_start |  date:"HH:mm"}} - {{event.time_end | date:"HH:mm"}}</div>
                	<div class="infos background-violet-light">
                   		<div  class="title white roboto-b" ng-class="{nowrap: event.endUp, wrap: event.endDown}"> {{event.title}} </div>
                   		<p  class="content white roboto-l" ng-bind-html='event.description'></p>
                   		<a ng-click="showPDF(event.media)"  ng-if="event.type_media === 'pdf'" class="button button-icon white download">
           			            <img src="img/pdf.png" class="pdf-icone" height="25px" >
           			            DESCARGAR
                   		</a>
              			<a ng-click="showImages(event.media)" ng-if="event.type_media === 'img'" class="button button-icon white download">
           			            <img src="img/imagedl.png" class="image-icone" height="30px" >
           			            DESCARGAR
                   		</a>
                   		<div  class="icon ion-chevron-down arrow violet-medium"></div>
                    </div>
                </div>
            </ion-item>        
        </ion-list>
    	<div class="event-item text-center" ng-hide="data.dayEvents.length>0">
    		<p>No hay eventos este dia.</p>
    	</div>
    </div>


	</ion-content>
</ion-view>
