<ion-view   hide-nav-bar="true">
	<ion-content  class="teacher-profile">
		<div class="top-image"  ng-style="{'background': 'url('+$root.backImagesUrl+'/teacher/'+data.teacher.photo+') center no-repeat', 'background-size':'cover'}" >
			<a ng-click="GoBack()" class="button icon-left ion-chevron-left button-icon white back-icon mtios"></a>
	        <div class="text-titre text-image white roboto-b">
	            <span ng-if="data.teacher.gender == 0" class="prof">Profra. {{data.teacher.name}} {{data.teacher.last_name}}</span>	            
	            <span ng-if="data.teacher.gender == 1" class="prof">Prof. {{data.teacher.name}} {{data.teacher.last_name}}</span><br>
	            <span class="roboto-l position">{{data.teacher.position}}</span>
	        </div>
            <a class="button button-icon contact mtios" ng-click="SendEmail()">

            </a>
		</div>
		<div class="sub-bar background-red-dark">
			<div class="text-sub-bar white roboto-b">
				Historia Académica (Currículum)
			</div>
		</div>
<!-- 
		<ion-list class="cv-list">
			<ion-item ng-repeat="cv in data.cv" class="row item-stable cv" ng-click="OpenCv($index)"  ng-class="{active: cv.opened, fullAviso: cv.opened, cv: !cv.opened}">
            	<div class="date roboto-b gray-medium">
            		{{cv.start}} / {{cv.finish}}
            	</div>
            	<div class="description background-green-dark">
               		<div  class="title white roboto-b"> {{cv.title}} </div>
               		<p  class="content white roboto-l"> {{cv.description}}</p>
                    <div  class="icon ion-chevron-down arrow"></div>
                </div>
	        </ion-item>        
        </ion-list> -->

        <ion-list class="cv-list">
            <ion-item ng-repeat="cv in data.cv" class="row item-stable" ng-click="OpenCv($index)"  ng-class="{active: cv.opened, fullCv: cv.opened, cv: !cv.opened}">
                <div class="date roboto-b gray-medium">
                    {{cv.start}} / {{cv.finish}}
                </div>
                <div class="block-infos">
                    <div class="description background-green-light">
                        <div  class="title white roboto-b" ng-class="{nowrap: cv.endUp, wrap: cv.endDown}">
                            <span style="text-transform:capitalize;">{{cv.title}} </span>
                        </div>
                        <p  class="content white roboto-l"> {{cv.description}}</p>
                        <div  class="icon ion-chevron-down arrow green-dark"></div>
                    </div>
                </div>
            </ion-item>        
        </ion-list>

 		<ion-list class="infos-list">
        	<div class="infos-prof">
          		<ion-item ng-click="showLike()" class="like  background-violet-light white roboto-b"  ng-class="{active: data.showLike, radiuslike: endLikeUp}">
    				<span class="like-text">¿Que le gusta?</span>
                    <div class="flip-button" onclick="this.classList.toggle('hover');">
                        <div class="button button-clear  violet-medium ion-chevron-down front"></div>
                        <div class="button button-clear  violet-medium back ion-chevron-up"></div>
                    </div>
          		</ion-item>
          		<ion-item  class="item-accordion background-violet-medium like-opened white roboto-l" ng-click="showDetailActions(item)"  ng-show="data.showLike">
            		<span ng-if="data.teacher.like" class="like-text"> {{data.teacher.like}} </span>
                    <span ng-if="!data.teacher.like" class="like-text" style="font-style: italic;"> Información no disponible </span>
          		</ion-item>

                <ion-item ng-click="showTravel()" class="like  background-violet-light  white roboto-b"  ng-class="{active: data.showTravel, radiuslike: endTravelUp}">
                    <span class="like-text">Ciudades y países que ha visitado</span>
                    <div class="flip-button" onclick="this.classList.toggle('hover');">
                        <div class="button button-clear violet-medium ion-chevron-down front"></div>
                        <div class="button button-clear violet-medium back ion-chevron-up"></div>
                    </div>
                </ion-item>
                <ion-item  class="item-accordion background-violet-medium like-opened white roboto-l" ng-click="showDetailActions(item)"  ng-show="data.showTravel">
                    <span ng-if="data.teacher.travel" class="like-text"> {{data.teacher.travel}} </span>
                    <span ng-if="!data.teacher.travel" class="like-text" style="font-style: italic;"> Información no disponible </span>
                </ion-item>

                <ion-item ng-click="showActividades()" class="like  background-violet-light white roboto-b"  ng-class="{active: data.showActividades, radiuslike: endActividadesUp}">
                    <span class="like-text">Actividades extracuriculares</span>
                    <div class="flip-button" onclick="this.classList.toggle('hover');">
                        <div class="button button-clear violet-medium ion-chevron-down front"></div>
                        <div class="button button-clear violet-medium  back ion-chevron-up"></div>
                    </div>
                </ion-item>
                <ion-item  class="item-accordion background-violet-medium like-opened white roboto-l" ng-click="showDetailActions(item)"  ng-show="data.showActividades">
                    <span ng-if="data.teacher.extra" class="like-text"> {{data.teacher.extra}} </span>
                    <span ng-if="!data.teacher.extra" class="like-text" style="font-style: italic;"> Información no disponible </span>
                </ion-item>
            </div>
        </ion-list>
	</ion-content>
</ion-view>
