.teacher-profile{
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;

	.scroll{
		min-height: 100%;
	}


	.back-icon{
	    top: 5px;
	    left: 5px;
	    position: absolute;
	    max-width: 33px;
	    min-width: 33px;
	}

    .text-image{
	    bottom: 5px;
	    left: 5px;
	    position: absolute;
	    line-height: 16px;
	    text-align: left;
    	.prof{
    		font-size: 20px !important;
    	}
    	.position{
    		font-size: 13px !important;
    	}
	}

	    .contact{
		    background: url("../img/btn/correosb.png") center no-repeat !important;
		    background-size: cover !important;
		    width: 46px;
		    height: 46px;
		    position: absolute;
		    right: 5px;
		    top: 5px;
    	}


	// .cv-list{
	//     //margin-top: 25px;
	//     margin-bottom: 200px;
	// 	.cv{
	// 	    padding: 15px 10px 25px;
	// 	    display: block;
	// 	    height: 120px;
	// 		.date{
	// 		    font-size: 14px;
	// 		    top: -13px;
	// 		    position: relative;
	// 		    text-align: left;
	// 		    margin: 1px auto;
	// 	    }
			
	// 		.description{
	// 		    padding-left: 10px;
	// 		    height: 67px;
	// 		    max-width: 100%;
	// 		    min-width: 180px;
	// 		    margin-top: -10px;
	// 		    border-radius: 4px;
	// 		    position: relative;
	// 		    overflow: hidden;
	// 		    height: 76px;
	// 			.title{
	// 			    text-align: left;
	// 			    top: 5px;
	// 			    position: absolute;
	// 			    font-size: 14px;
	// 			    width: 93%;
	// 			    left: 10px;
	// 			    overflow: hidden;
	// 			    white-space: nowrap;
	// 			    text-overflow: ellipsis;
	// 			}
	// 			.content{
	// 			    text-align: left;
	// 			    top: 24px;
	// 			    position: relative;
	// 			    font-size: 11px;
	// 			    width: 100%;
	// 			    line-height: 14px;
	// 			    padding: 0 5px;
	// 			    overflow-y: hidden;
	// 			    text-overflow: ellipsis;
	// 			    white-space: normal;
	// 			    height: 100px;
	// 			}
	// 		}
	// 	}
	// }


	.cv-list{
	    margin-bottom: 200px;
		.cv{
			padding: 8px 10px 5px;
		    display: block;
		    /* height: 120px; */
		    transition: 0.5s max-height ease-out;
		    position: relative;
		    .date{
			    font-size: 14px;
			    top: -5px;
			    left: 5px;
			    position: relative;
			    text-align: left;
			    margin: 1px auto;
		    }
		    .block-infos{
				padding: 6px 5px;
				.description{
				    transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
				    padding-left: 5px;
				    max-height: 72px;
				    min-height: 72px;
				    max-width: 100%;
				    min-width: 180px;
				    margin-top: -10px;
				    border-radius: 4px;
				    position: relative;
				    overflow: hidden;
				    padding-bottom: 2px;
				    .title{
						//transition: 0.5s all ease-out;
					    text-align: left;
					    top: 3px;
					    position: relative;
					    font-size: 14px;
					    width: 93%;
					    left: 5px;
					    margin-bottom: 4px;
					    overflow: hidden;
					    text-overflow: ellipsis;
					}
					.nowrap{
						white-space: nowrap !important;
						overflow: hidden;
					    text-overflow: ellipsis;
					}
					.wrap{
						white-space: normal !important;
					}
					.content{
						transition: 0.5s  max-height ease-out;
					    text-align: left;
					    position: relative;
					    font-size: 11px;
					    width: 88%;
					    height:44px;
					    line-height: 14px;
					    left: 5px;
					    overflow-y: hidden;
					    text-overflow: ellipsis;
					    white-space: normal;
					}
					.arrow{
					    position: absolute;
					    color:#00AFAA;
					    right: 9px;
					    bottom: -2px;
					    transition: 0.6s;
					}
				}
			}
		}
		.fullCv{
			padding: 8px 10px 5px;
    		display: block;
    		position: relative;
			max-height: 500px;
			transition: 0.5s all ease-out;


			// 			padding: 15px 10px;
   //  		position: relative;
   //  		min-height: 92px;
			// max-height: 500px;
			// transition: 0.5s all ease-out;
		    .date{
			    font-size: 14px;
			    top: -5px;
			    left: 5px;
			    position: relative;
			    text-align: left;
			    margin: 1px auto;
		    }
		    .block-infos{
				  padding: 6px 5px;
				.description{
				    transition: 0.5s max-height ease-out;
				    padding-left: 5px;
				    position: relative;
				   	min-height: 72px;
				    max-height: 500px;
				    max-width: 100%;
				    min-width: 180px;
				    margin-top: -10px;
				    border-radius: 4px;
				    position: relative;
				    padding-bottom: 2px;
					.title{
						transition: 0.5s all ease-out;
					    text-align: left;
					    top: 3px;
					    position: relative;
					    font-size: 14px;
					    width: 93%;
					    left: 5px;
					    margin-bottom: 4px;

					    /* line-height: 23px; */
					    //white-space: normal;
					}
					.wrap{
						white-space: normal !important;
					}
					.nowrap{
						white-space: nowrap !important;
					}
					.content{
					    transition: 0.5s  max-height ease-out;
					    text-align: left;
					    /* top: 5px; */
					    font-size: 11px;
					    width: 88%;
					    line-height: 14px;
					    position: relative;
					    left: 5px;
					    white-space: normal;
					    min-height:44px;
					    /* margin-bottom: 10px; */
					}
					.arrow{
					    position: absolute;
					    color:#00AFAA;
						right: 9px;
					    bottom: 1px;
					    -ms-transform: rotateX(180deg); /* IE 9 */
					    -webkit-transform: rotateX(180deg); /* Chrome, Safari, Opera */
					    transform: rotateX(180deg);
					    transition: 0.6s;
					}
				}
			}
		}
	}






	.infos-list{
		margin-top:10px;
		.infos-prof{
			padding: 7px 20px;
	    	border: hidden;
			.like{
	    		height: 40px;
	    		border-top-left-radius: 5px;
			    border-top-right-radius: 5px;
	    		border: hidden;
	    		text-align: left;
	    		z-index:1000;
	    		margin: 10px -1px;
	    		.like-text{
					font-size: 14px;
					position: relative;
	    			top: -8px;
				}
				.button-clear{
					position: absolute;
				    right: -44px;
				    top: -3px;
				}
			}

			.radiuslike{
				border-radius: 5px !important;
			}
			.active{
				border-bottom-left-radius: 0px !important;
				border-bottom-right-radius: 0px !important;
			}
			.like-opened{
			    display: block;
			    overflow: hidden;
			    height:100%;
			    text-overflow: ellipsis;
			    white-space: normal;
			    border-bottom-left-radius: 5px;
			    border-bottom-right-radius: 5px;
			    border: hidden;

			}
		}
	}
	.flip-button {
		position: absolute;
	    height: 100%;
	    width: 100%;
	    top: 0px;
	    right: 0px;
	    -webkit-perspective: 1000;
	  	-webkit-perspective: 1000;
	  	perspective: 1000; 
	}
	.flip-button .back, .flip-button .front {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: 0.6s;
		transition: 0.6s;
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
		position: absolute;
		width: 120px; 
	}
	.flip-button .back {
	    -webkit-transform: rotateY(-180deg);
	    transform: rotateY(-180deg); 
	}
	.flip-button .front {
	    -webkit-transform: rotateY(0deg);
	    z-index: 2; 
	}
	.flip-button.hover .back {
	    -webkit-transform: rotateY(0deg);
	    transform: rotateY(0deg); 
	}
	.flip-button.hover .front {
	    -webkit-transform: rotateY(180deg);
	    transform: rotateY(180deg); 
	}

	.item.item-stable {
	    margin-right: 0px !important;
    	margin-left: 0px !important;
	}

	.list .item.item-accordion {
		line-height: 17px;
		padding:10px;
		font-size:13px;
		text-align: left;
		transition: 0.2s all ease-out;
		margin-top: 0px;
		margin-top: -10px;
		//margin-bottom: 10px;
	}
	.list .item.item-accordion.ng-hide {
	    line-height: 0px;
	    margin-top: -30px;

	}
	.list .item.item-accordion.ng-hide-add,
	.list .item.item-accordion.ng-hide-remove {
	    display: block !important;
	}

}

