.home{
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;

	.scroll{
		min-height: 100%;
	}

	.icone-info{
	    top: -2px;
	    position: relative;
	}
	
	.logo{
		max-width: 300px;
		width: 70%;
		position: relative;
		top: 25%;
	}

	.text-image{
		top: 30%;
    	position: relative;
	}

	.login-form{
	    display: block;
	    margin: 30px 0;
		.form{
			display: block;
	    	margin: 20px 10%;
		}

		.form-title{
			text-align: left;
			display: inline-block;
	    	width: 30%;	
		}

		.block-input{
			display: inline-block;
	    	width: 68%;
		}
	}

	.button-ingresar{
	    min-width: 170px;
	    border-radius: 4px;
	    margin-top: 10px;
	    margin-bottom: 15px;
	}

	.button-contrasena{
	    min-height: 10px !important;
	    height: 40px;
	    padding: 0 !important;
	    font-size: 12px;
	    top: -30px;
	}
}

	.alert{
		.popup-head {
		    padding: 15px 10px;
		    border-bottom: 1px solid #BFBABA;
		    text-align: center;
		}

		h3{
			font-family:Roboto-black;
		}

		.popup-body {
		    padding: 10px;
		    overflow: auto;
		    text-align: center;
		}
	}
