<ion-view   hide-nav-bar="true">
	<ion-content  class="home">
		<div class="top-image"  style="background:url(img/top/bienvenidos_ipad.jpg) center no-repeat; background-size:cover;" >
			<div class="text-titre text-image white roboto-b">
				BIENVENIDO
			</div>
		</div>
		<div class="sub-bar background-violet-medium">
			<div class="text-sub-bar white roboto-b">
				Ingresa tus datos de acceso
			</div>
		</div>

		<form class="login-form roboto-b">
			<div class="form">
			  	<div class="form-title gray-medium">				
			  		Clave: <img ng-click="OpenAlert();" class="icone-info" src="img/btn/btn_info.png" height="25px">
				</div>
			  	<div class="block-input">
			  		<input  class="form-input background-gray-light gray-dark roboto-b pt5ios" type="text" placeholder="Clave" ng-model="data.login.key">
			  	</div>
			</div>

			<div class="form">
			  	<div class="form-title gray-medium">				
			  		Contraseña:
				</div>
			  	<div class="block-input">
			  		<input  class="form-input background-gray-light gray-dark roboto-b pt5ios" type="password" placeholder="Contraseña" ng-model="data.login.password">
			  	</div>
			</div>
			<div ng-show="ShowServerError" class="message-error roboto-l"> * {{serveurmessageSI}} </div>
			<button type="submit" class="button button-icon background-red-dark white button-ingresar" ng-click="Login()">
				INGRESAR
			</button>
		</form>
<!-- 		<button type="submit" class="button button-icon background-transparent green-dark button-contrasena roboto-l">
			¿ Olvidaste tu contraseña ?
		</button> -->


	</ion-content>
</ion-view>