.rating{
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;

	.scroll{
		min-height: 100%;
	}


	.subnav{
		height: 70px;
		.profile{
		    border-style: solid;
		    border-color: #CCCCCC;
		    border-width: 2px;
		    height: 50px;
		    top: 10px;
		    left: 10px;
		    max-width: 50px;
		    position: relative;
		    max-height: 50px;
		    z-index: 5;
		    border-radius: 50%;
		}
	 	.name{
		    text-align: left;
		    top: -27px;
		    position: relative;
		    font-size: 18px;
		    width: 60%;
		    left: 66px;
		    text-transform: capitalize;
		}
		.group{
		    text-align: right;
		    top: -48px;
		    position: relative;
		    font-size: 13px;
		    position: relative;
		    right: 7px;
		}
	}
	.white-shape{
	    background-color: #FFFFFF;
	    z-index: 80;
	    position: absolute;
	    top: 78px;
	    left: 0px;
	    padding-left: 10px;
	    margin-top: 0px;
	    padding: 2px 0 2px 10px;
		.list-course{
		    display: inline-block;
		    width: 100px;
		    z-index: 100;
		    border-top-left-radius: 5px;
		    border-bottom-left-radius: 5px;
		    padding-bottom: 10px;
		    position:relative;
		   	.course-label{
		   		height: 30px;
	    		padding-top: 4px;
		   		border-bottom: white;
			    border-bottom-style: solid;
			    border-bottom-width: 1px;
		   	}
		   	.course:last-of-type {
    			border-bottom-style: hidden !important;
			}

		   .course{
			    height: 50px;
			    text-align: left;
			    padding-left: 5px;
			    padding-top: 10px;
			    font-size: 12px;
			    border-bottom: white;
			    border-bottom-style: solid;
			    border-bottom-width: 1px;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
		   }
		   .prof{
			   	font-size: 9px;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    width: 80px;
		   }
		   .arrow{
			    position: relative;
			    left: 85px;
			    bottom: 11px;
			    font-size: 9px;
		   }
		}
	}

	.list-value{
	    // background-color: #FF3B5C;
	    margin-left: 110px;
	    margin-top: 11px;
	    //width: 360px;
	    padding-bottom: 10px;
	    text-align: left;
	    border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
	    .value{
			background-color: #00CBCC;
		    display: inline-block;
		    width: 90px;
	    }

	    .course-rating{
		    .rating{
			    display: inline-block;
			    width: 90px;
			    height: 50px;
			    padding: 0 6px 0 0;
    			.text{
    				background-color: #FFFFFF;
    				height: 100%;
    			    border-bottom: #cccccc;
			    	border-bottom-style: solid;
			    	border-bottom-width: 1px;
			    	padding-top: 14px;
    			}
		    }
	    }
		.course-rating:last-of-type {
			.rating{
    			.text{
    				border-bottom-left-radius: 5px;
    				border-bottom-right-radius: 5px;
    			}
			}
		}

	    .period{
		    display: inline-block;
		    width: 90px;
		    height: 30px;
		   	padding: 0 6px 0 0;
   			border-top-right-radius: 5px;

			.text{
			    background-color: #FFFFFF;
			    position: relative;
			    bottom: -9px;
			    /* padding: 2px; */
			    border-top-left-radius: 5px;
			    border-top-right-radius: 5px;
			    border-bottom: #cccccc;
			    border-bottom-style: solid;
			    border-bottom-width: 1px;
			    text-align: center;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
	    }
	}

	.scrollNoResult{
		padding-right:120px;
	}

	.list-value-noResult{
	    margin-left: 110px;
	    margin-top: 11px;
	    //width: 360px;
	    padding-bottom: 10px;
	    text-align: left;
	    border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
	    width: 100%;
    	
	    .noResult{
		    padding: 10px 10px 0 10px;
		    border-top-right-radius: 5px;
		    font-size: 14px;
		    height: 100%;
			.text-block{
			    background-color: #FFFFFF;
			    position: relative;
			    border-radius: 5px;
			    border: #cccccc;
			    border-style: solid;
			    border-width: 1px;
			    text-align: center;
			    height: 100%;
			    .text{
    				padding: 25px 5px;
			    }
			}
	    }
	}

	.materiaNoCourse{
		height: 140px;
	}








	.period-list{
 		padding: 20px 10px;
 		margin-bottom: 100px;
 		.period-block{
		    width: 100%;
		    padding: 0px 5px 0px 5px;
		    border-radius: 10px;
		    margin-bottom: 20px;
    		.name{
			    text-align: left;
			    top: 3px;
			    position: relative;
			    font-size: 18px;
			    width: 60%;
			    left: 7px;
			    text-transform: capitalize;
			}
			.comment-list{
		 		.comment{
		 			transition: 0.5s max-height ease-out;
				    padding: 0px 0px;
				    min-height: 92px;
				    max-height: 92px;
				    position: relative;
				    border: hidden;
		 		}
		 		.fullComment{
					padding: 0px 0px;
		    		position: relative;
		    		min-height: 92px;
					max-height: 500px;
					border: hidden;
					transition: 0.5s all ease-out;
				}
		 	}
		}
	}

	.comment-list{
	    //margin-top: 25px;
	 //   margin-bottom: 200px;
		.comment{
			padding: 15px 10px;
		    transition: 0.5s max-height ease-out;
		    padding: 15px 10px;
		    position: relative;
			.block-infos{
				padding: 6px 5px;
				width: 100%;
				.infos{
				    transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
				    padding-left: 5px;
				    max-height: 72px;
				    min-height: 72px;
				    width: 100%;
				    /* margin-top: -12px; */
				    border-radius: 4px;
				    position: relative;
				    overflow: hidden;
				    padding-bottom: 2px;
					.title{
						//transition: 0.5s all ease-out;
					    text-align: left;
					    top: 3px;
					    position: relative;
					    font-size: 14px;
					    width: 93%;
					    left: 5px;
					    margin-bottom: 4px;
					    white-space: normal;
					    overflow: hidden;
					    text-overflow: ellipsis;
					}
					.nowrap{
						white-space: nowrap !important;
						overflow: hidden;
					    text-overflow: ellipsis;
					}
					.wrap{
						white-space: normal !important;
					}
					.content{
						transition: 0.5s  max-height ease-out;
					    text-align: left;
					    position: relative;
					    font-size: 11px;
					    width: 88%;
					    height:44px;
					    line-height: 14px;
					    left: 5px;
					    overflow-y: hidden;
					    text-overflow: ellipsis;
					    white-space: normal;
					}
					.arrow{
					    position: absolute;
					    color:#00AFAA;
					    right: 9px;
					    bottom: -2px;
					    transition: 0.6s;
					}
				}
			}
		}
		.fullComment{
			padding: 15px 10px;
    		position: relative;
    		min-height: 92px;
			max-height: 500px;
			transition: 0.5s all ease-out;
			.block-infos{
				  padding: 6px 5px;
				  width: 100%;
				.infos{
				    transition: 0.5s max-height ease-out;
				    padding-left: 5px;
				    position: relative;
				   min-height: 72px;
				    max-height: 500px;
				    width: 100%;
				    /* margin-top: -12px; */
				    border-radius: 4px;
				    position: relative;
				        padding-bottom: 2px;
					.title{
						transition: 0.5s all ease-out;
					    text-align: left;
					    top: 3px;
					    position: relative;
					    font-size: 14px;
					    width: 93%;
					    left: 5px;
					    margin-bottom: 4px;
					    white-space: normal;
					    /* line-height: 23px; */
					    //white-space: normal;
					}
					.wrap{
						white-space: normal !important;
					}
					.nowrap{
						white-space: nowrap !important;
					}
					.content{
					    transition: 0.5s  max-height ease-out;
					    text-align: left;
					    /* top: 5px; */
					    font-size: 11px;
					    width: 88%;
					    line-height: 14px;
					    position: relative;
					    left: 5px;
					    white-space: normal;
					    min-height:44px;
					    /* margin-bottom: 10px; */
					}
					.arrow{
					    position: absolute;
					    color:#00AFAA;
						right: 9px;
					    bottom: 1px;
					    -ms-transform: rotateX(180deg); /* IE 9 */
					    -webkit-transform: rotateX(180deg); /* Chrome, Safari, Opera */
					    transform: rotateX(180deg);
					    transition: 0.6s;
					}
				}
			}
		}
	}

	.fullComment.list{
	    margin-top: -2px;
	}

	.comment.list{
	    margin-top: -51px;
	}

	.item.item-stable {
		min-height: 92px!important;
	    margin-right: 0px !important;
    	margin-left: 0px !important;
   	}
}


