<ion-view hide-back-button="true"  hide-nav-bar="false" title='<i class="icon ion-android-list icone-menu white"></i> <span class="roboto-l"> CALIFICACIONES </span>'>
	<ion-content  class="rating" delegate-handle="mainScroll">
           <!-- <div class="subnav background-violet-dark white" >
                div  class="profile" ng-style="{'background': 'url('+$root.backImagesUrl+'/child/'+data.child.photo+') center no-repeat', 'background-size':'cover'}"></div>
                <div  class="name white roboto-b"> {{data.child.name}} </div>-->
                <!--<div  class="group white roboto-l"> Grupo {{data.child.group}} - {{data.child.grad}}</div>
            </div>-->
            <!--<label class = "item item-input item-select">
               <div class = "input-label">
                  Periodo
               </div>
               <select ng-options="item as item.label for item in data.periods track by item.id" ng-model="data.periodSelected" ng-change="periodChanged()">
               </select>
            </label>-->

                <label class = "item item-input item-select" style="background-color: #052f6b; color: white">
                   <div class = "input-label" style="background-color: #052f6b; color: white">
                      {{data.name}} {{data.last_name}}
                   </div>
                   <select ng-options="item as item.label for item in data.groups track by item.id" ng-model="data.groupSelected" ng-change="groupChanged()" style="border:0; background:none; -webkit-appearance: none; color: white; width: 70%">
                   </select>
                </label>
            
            <div style="margin-top: 10px;"> </div>

            <ion-scroll direction="x" class="wide-as-needed">
                <table class="table table-striped"">
                    <thead>
                      <tr>
                        <th class="header-tab-ratings"">Materia</th>
                        <th class="ceil-tab-ratings" ng-repeat="item in data.periods">
                            {{item.label}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="items in data.ratings track by $index">
                        <td style="vertical-align:middle; " ng-repeat="item in items track by $index" ng-class="{'header-tab-ratings': $index == 0, 'ceil-rate-ratings' : $index > 0}">
                            <div style="display:inline; vertical-align:middle;" ng-bind-html="item" class="profesor-label"> </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </ion-scroll>

                            <!-- {{period}} {{course[$index].period}}
                            <div ng-if="period === course[$index].period" class="text">
                                {{course[$index].rating}}
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="noResult" class="list-value-noResult  background-red-dark " style="width:100%; height:{{heightNoResult}}px;">
                    <div class="noResult background-red-dark gray roboto-l">
                        <div class="text-block">
                            <div class="text">
                                <span style="text-transform: capitalize;">{{data.child.name}}</span> no tiene calificaciones por el momento.
                            </div>
                        </div>
                    </div>
                </div>


            <!--
            <div ng-if="loaded">
            <div class="white-shape" >
                <div class="list-course background-red-dark white roboto-b" ng-class="{materiaNoCourse: noCourse}">
                    <div class="course-label">
                        Materia
                    </div>
                    <div ng-click="GoTeacherProfile(value[0].teacher_id)"class="course" ng-repeat="(key, value) in data.list_course">
                            {{key}}
                        <div class="prof roboto-l">
                            {{value[0].teacher_name}} {{value[0].teacher_last_name}} 

                        </div>
                        <div ng-if='key != "Promedio"' class="icon ion-chevron-right arrow red-dark2"></div>
                    </div>
                </div>
            </div>
            <ion-scroll direction="x" scrollbar-x="false" ng-class="{scrollNoResult: noResult}"   class="valueScroll" zooming="false" delegate-handle="horizontal" horizontal-scroll-fix="mainScroll" >
                <div ng-if="!noResult" class="list-value background-red-dark" style="width:{{lenghtRating}}px;">
                    <div  class="period background-red-dark gray roboto-b" ng-repeat="period in data.list_period">
                        <div class="text ">
                            {{period}}
                        </div>
                    </div>
                    <div class="course-rating  background-red-dark"  ng-repeat="course in data.list_course">
                        <div class="rating  background-red-dark gray roboto-l" ng-repeat="period in data.list_period" >
                            <div  ng-if="period != course[$index].period " class="text ">
                                -
                            </div>
                            <!-- {{period}} {{course[$index].period}}
                            <div ng-if="period === course[$index].period" class="text">
                                {{course[$index].rating}}
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="noResult" class="list-value-noResult  background-red-dark " style="width:100%; height:{{heightNoResult}}px;">
                    <div class="noResult background-red-dark gray roboto-l">
                        <div class="text-block">
                            <div class="text">
                                <span style="text-transform: capitalize;">{{data.child.name}}</span> no tiene calificaciones por el momento.
                            </div>
                        </div>
                    </div>
                </div>
            </ion-scroll>
            <div class="period-list">
                <div ng-repeat="(key, period) in data.list_comment" class="period-block background-gray-light2">
                        <div  class="name gray-medium roboto-b"> {{key}} </div>
                    <ion-list class="comment-list">
                        <ion-item ng-repeat="comment in period" class="row item-stable background-gray-light2" ng-click="OpenCommentChild(key, $index)"
                                ng-class="{active: comment.opened, fullComment: comment.opened, comment: !comment.opened }">
                            <!-- <div class="col col-15">
                                <div class="date-aviso">
                                    <div class="day roboto-b gray-medium">
                                        {{comment.date | date:"dd"}}
                                    </div>
                                    <div class="month roboto-b gray-medium">
                                        {{aviso.date | date:"MMM"}}
                                    </div>
                                </div>
                            </div>
                            <div class="block-infos" >
                                <div class="infos background-violet-light">
                                    <div  class="title white roboto-b" ng-class="{nowrap: comment.endUp, wrap: comment.endDown}"> {{comment.teacher_name}} {{comment.teacher_last_name}} ({{comment.course}})</div>
                                    <p  class="content white roboto-l"> {{comment.comment}}</p>
                                    <div  class="icon ion-chevron-down arrow violet-medium"></div>
                                </div>
                            </div>
                        </ion-item>        
                    </ion-list>
                </div>
                <div ng-if="data.list_comment.length === 0" class="roboto-l">
                    <span class="roboto-b" style="text-transform: capitalize;">{{data.child.name}}</span> no tiene comentarios por el momento.
                </div>
            </div>
        </div>-->

    </ion-content>
    <div ng-if="!data.oneChild" class="bubble" ng-click="OnSelectedChild()" ng-style="{'background': 'url('+$root.backImagesUrl+'/child/'+$root.data.selectedChild_photo+') center no-repeat', 'background-size':'cover'}"></div>

    <div ng-if="showAllChild" class="liste-bubble">
        <div ng-repeat="child in $root.data.child" ng-if="child.id != $root.data.selectedChild_id" class="bubble" ng-click="CloseBubble();SelectChild(child.id, child.photo)" ng-style="{'background': 'url('+$root.backImagesUrl+'/child/'+child.photo+') center no-repeat', 'background-size':'cover',  'bottom': ''+child.position+'px'}"></div>
    </div>
</ion-view> 



