	.header-aviso {
	    top: 93px !important;
	}



.background-urgencia{
	background-color: #e13492 !important;
}

.background-contigencias{
	background-color: #f4b01a !important;
}

.background-administrativo{
	background-color: #81c241 !important;
}

.background-tareas{
	background-color: #33599e !important;
}

.background-otro{
	background-color:#7a7a7a !important;
}

.arrow-otro{
	color:#8A8A8A !important;
}


.arrow-tareas{
	color:#1E8198 !important;
}

.arrow-administrativo{
	color:#4D864D !important;
}

.arrow-contigencias{
	color:#F57D3C !important;
}

.arrow-urgencia{
	color:#9f2943 !important;
}


.aviso{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
   // margin-top: 23px;

	.scroll{
		min-height: 100%;
	}

	.noAnimate {
	   -webkit-transition: none !important;
	   transition: none !important;
	}
	.child-list{
 		padding: 20px 10px;
 		margin-bottom: 100px;
 		.lastChild{
		    margin-bottom: 200px !important;
		}

 		.child{
		    width: 100%;
		    padding: 20px 5px 0px 5px;
		    border-radius: 10px;
		    margin-bottom: 20px;

		    .no-avisos{
		    	padding-bottom: 20px;
		    }


		    .profile{
			    border-style: solid;
			    border-color: #CCCCCC;
			    border-width: 2px;
			    height: 50px;
			    top: -28px;
			    left: -10px;
			    max-width: 50px;
			    position: relative;
			    max-height: 50px;
			    z-index: 5;
			    border-radius: 50%;
    		}
    		.name{
			    text-align: left;
			    top: -66px;
			    position: relative;
			    font-size: 15px;
			    width: 53%;
			    left: 52px;
			    text-transform: capitalize;
			    overflow-y: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			}
			.group{
				text-align: right;
			    top: -86px;
			    position: relative;
			    font-size: 13px;
			    position: relative;
			    right: 7px;
			}
			.aviso-list{
				.list{
					margin-top: -65px;
				}
		 		.aviso{
		 			transition: 0.5s max-height ease-out;
				    padding: 0px 0px;
				    min-height: 92px;
				    max-height: 92px;
				    position: relative;
				    border: hidden;
		 		}
		 		.fullAviso{
					padding: 0px 0px;
		    		position: relative;
		    		min-height: 92px;
					max-height: 500px;
					border: hidden;
					transition: 0.5s all ease-out;
				}
		 	}
		 }
	}
	.aviso-list{
		.lastAviso{
			margin-bottom: 200px;
		}

	    //margin-top: 25px;
	 //   margin-bottom: 200px;
		.aviso{
		 			transition: 0.5s max-height ease-out;
				    padding: 15px 10px;
				    min-height: 125px;
				    max-height: 125px;
		    position: relative;
    			.date-aviso{
			    top: -5px;
			    position: relative;
			    margin: 0 auto;
			    .day{
			    	font-size: 20px;
			    }
			    .month{
			    	font-size: 16px;
			    }
			}
			.block-infos{
				padding: 6px 5px;
				.infos{
				    transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
				    padding-left: 5px;
				    max-height: 72px;
				    min-height: 72px;
				    max-width: 100%;
				    min-width: 180px;
				    /* margin-top: -12px; */
				    border-radius: 4px;
				    position: relative;
				    overflow: hidden;
				        padding-bottom: 2px;
					.title{
						//transition: 0.5s all ease-out;
					    text-align: left;
					    top: 3px;
					    position: relative;
					    font-size: 14px;
					    width: 93%;
					    left: 5px;
					    margin-bottom: 4px;
					    white-space: normal;
					    overflow: hidden;
					    text-overflow: ellipsis;
					}
					.nowrap{
						white-space: nowrap !important;
						overflow: hidden;
					    text-overflow: ellipsis;
					}
					.wrap{
						white-space: normal !important;
					}
					.content{
						transition: 0.5s  max-height ease-out;
					    text-align: left;
					    position: relative;
					    font-size: 11px;
					    width: 88%;
					    height:44px;
					    line-height: 14px;
					    left: 5px;
					    overflow-y: hidden;
					    text-overflow: ellipsis;
					    white-space: normal;
					    p{
					    	color:#FFFFFF;
							font-size: 11px;
							text-align: left;
							white-space: normal;
							margin:0px;
							b{
								font-family: Roboto-black !important;
							}
						}
						ul{
							b{
								font-family: Roboto-black !important;
							}
							padding-left: 20px;
							li{
								font-size: 11px;
								text-align: left;
								white-space: normal;
								margin:5px 0px;
								list-style-type: disc;
								b{
									font-family: Roboto-black !important;
								}
							}
						}
						b{
							font-family: Roboto-black !important;
						}
					}
					.arrow{
					    position: absolute;
					    color:#00AFAA;
					    right: 9px;
					    bottom: -2px;
					    transition: 0.6s;
					}
				}
			}
		}
		.fullAviso{
			padding: 15px 10px;
    		position: relative;
    		min-height: 92px;
			max-height: 500px;
			transition: 0.5s all ease-out;
			.date-aviso{
			    top: -5px;
			    position: relative;
			    margin: 0 auto;
			    .day{
			    	font-size: 20px;
			    }
			    .month{
			    	font-size: 16px;
			    }
			}
			.block-infos{
				  padding: 6px 5px;
				.infos{
				    transition: 0.5s max-height ease-out;
				    padding-left: 5px;
				    position: relative;
				   min-height: 72px;
				    max-height: 500px;
				    max-width: 100%;
				    min-width: 180px;
				    /* margin-top: -12px; */
				    border-radius: 4px;
				    position: relative;
				        padding-bottom: 2px;
					.title{
						transition: 0.5s all ease-out;
					    text-align: left;
					    top: 3px;
					    position: relative;
					    font-size: 14px;
					    width: 93%;
					    left: 5px;
					    margin-bottom: 4px;
					    white-space: normal;
					    /* line-height: 23px; */
					    //white-space: normal;
					}
					.wrap{
						white-space: normal !important;
					}
					.nowrap{
						white-space: nowrap !important;
					}
					.content{
					    transition: 0.5s  max-height ease-out;
					    text-align: left;
					    /* top: 5px; */
					    font-size: 11px;
					    width: 88%;
					    line-height: 14px;
					    position: relative;
					    left: 5px;
					    white-space: normal;
					    min-height:44px;
					    /* margin-bottom: 10px; */
					    p{
					    	color:#FFFFFF;
							font-size: 11px;
							text-align: left;
							white-space: normal;
							margin:0px;
							b{
								font-family: Roboto-black !important;
							}
						}
						ul{
							b{
								font-family: Roboto-black !important;
							}
							padding-left: 20px;
							li{
								font-size: 11px;
								text-align: left;
								white-space: normal;
								margin:5px 0px;
								list-style-type: disc;
								b{
									font-family: Roboto-black !important;
								}
							}
						}
						b{
							font-family: Roboto-black !important;
						}
					}
					.arrow{
					    position: absolute;
					    color:#00AFAA;
						right: 9px;
					    bottom: 1px;
					    -ms-transform: rotateX(180deg); /* IE 9 */
					    -webkit-transform: rotateX(180deg); /* Chrome, Safari, Opera */
					    transform: rotateX(180deg);
					    transition: 0.6s;
					}
				}

			}
		}
	}


	.download{
	    font-size: 13px;
	    border-color: #FFF;
	    border-style: solid;
	    border-width: 1px;
	    padding: 3px 10px 0px;
	    margin-bottom: 10px;
	    margin-top: 5px;
		.pdf-icone{
		    top: -3px;
		    position: relative;
		}
		.image-icone{
		    top: 0px;
		    position: relative;
		}
	}

	.fullAviso.list{
	    margin-top: -2px;
	}

	.aviso.list{
	    margin-top: -51px;
	    margin-bottom: 200px;
	}

	.item.item-stable {
		min-height: 92px!important;
	    margin-right: 0px !important;
    	margin-left: 0px !important;
   	}

	.general
	{
		.list:last-child {
		    margin-bottom: 200px;
		}
	}

}