<ion-view  title=' <i class="icon ion-android-textsms icone-menu white"></i> <span class="roboto-l"> AVISOS </span>' hide-back-button="true" hide-nav-bar="false">
	<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-calm slide-right-left">
		
	  	<ion-tab title="{{data.titleHijo}}" class="{{showChild}}">
	    	<ion-content  class="aviso header-aviso">
				<div class="child-list">
					<ion-refresher
				    	pulling-text="Actualizar"
				    	on-refresh="doRefresh()">
				  	</ion-refresher>
					<div ng-show="child.id == data.selectedChild_id" ng-repeat="child in data.avisoChild" ng-class="{lastChild: $last}"  class="child background-gray-light2">
						<div  class="profile" ng-style="{'background': 'url('+$root.backImagesUrl+'/child/'+child.photo+') center no-repeat', 'background-size':'cover'}"></div>
							<div  class="name gray-medium roboto-b"> {{child.name}} </div>
						<ion-list class="aviso-list">
							<ion-item ng-repeat="aviso in child.aviso | orderBy:'-id'" class="row item-stable background-gray-light2" ng-click="OpenAvisoChild($parent.$parent.$index, $index)"
				                    ng-class="{active: aviso.opened, fullAviso: aviso.opened, aviso: !aviso.opened }">
					            <div class="col col-15">
					                <div class="date-aviso">
				                		<div class="day roboto-b gray-medium">
					                		{{aviso.date | date:"dd"}}
					                	</div>
					                	<div class="month roboto-b gray-medium">
					                		{{aviso.date | date:"MMM"}}
					                	</div>
					                </div>
					            </div>
					            <div class="col col-85 block-infos" >
					            	<div class="infos"  ng-class="{'background-otro': aviso.type === 'otro', 'background-urgencia': aviso.type === 'urgencia',  'background-pagos': aviso.type === 'pagos',  'background-tareas': aviso.type === 'tareas',  'background-contigencias': aviso.type === 'contigencias',  'background-administrativo': aviso.type === 'administrativo'}">
					               		<div  class="title white roboto-b" ng-class="{nowrap: aviso.endUp, wrap: aviso.endDown}"><span style="text-transform:capitalize;">{{aviso.type}} </span> : {{aviso.title}} - 
					               		<span ng-if="aviso.grad"><br>Grupo {{aviso.grad}} {{aviso.group}}</span>
					               		</div>
					               		<p  class="content white roboto-l" ng-bind-html="aviso.content"> </p>
					               		<!--<a ng-click="downloadFunc('https://www.mathworks.com/moler/random.pdf')"  ng-if="aviso.type_media === 'pdf'" class="button button-icon white download">-->
					               		<a ng-click="showPDF(aviso.media)"  ng-if="aviso.type_media === 'pdf'" class="button button-icon white download">
	               			            <img src="img/pdf.png" class="pdf-icone" height="25px" ')">
	               			            DESCARGAR
					               		</a>
					          			<a ng-click="showImages(aviso.media)" ng-if="aviso.type_media === 'img' || aviso.type_media === 'png'" class="button button-icon white download">
	               			            <img src="img/imagedl.png" class="image-icone" height="30px" >
	               			            DESCARGAR
					               		</a>
					               		<div  class="icon ion-chevron-down arrow" ng-class="{'arrow-otro': aviso.type === 'otro', 'arrow-urgencia': aviso.type === 'urgencia',  'arrow-pagos': aviso.type === 'pagos',  'arrow-tareas': aviso.type === 'tareas',  'arrow-contigencias': aviso.type === 'contigencias',  'arrow-administrativo': aviso.type === 'administrativo'}"></div>
					                </div>
					            </div>
					        </ion-item>        
			        	</ion-list>
			        	<div ng-if="child.aviso.length === 0" class="no-avisos gray-medium "> 
			        		{{child.name}} no tiene avisos
			        	</div>
			        </div>
			    </div>
			</ion-content>
				<div ng-if="!data.oneChild" class="bubble" ng-click="OnSelectedChild()" ng-style="{'background': 'url('+$root.backImagesUrl+'/child/'+$root.data.selectedChild_photo+') center no-repeat', 'background-size':'cover'}"></div>

			    <div ng-if="showAllChild" class="liste-bubble">
			        <div ng-repeat="child in $root.data.child" ng-if="child.id != $root.data.selectedChild_id" class="bubble" ng-click="CloseBubble();SelectChild(child.id, child.photo)" ng-style="{'background': 'url('+$root.backImagesUrl+'/child/'+child.photo+') center no-repeat', 'background-size':'cover',  'bottom': ''+child.position+'px'}"></div>
			    </div>
		</ion-tab>
		<ion-tab title="GENERAL">
	    	<ion-content  class="aviso header-aviso">
	    		<ion-refresher
			    	pulling-text="Actualizar"
			    	on-refresh="doRefresh()">
			  	</ion-refresher>
				<ion-list class="aviso-list general">
					<ion-item ng-repeat="aviso in data.avisoGeneral" class="row item-stable" ng-click="OpenAvisoGeneral($index)"
		                    ng-class="{active: aviso.opened, fullAviso: aviso.opened, aviso: !aviso.opened, 'aviso-first': $index === 0, lastAviso: $last}">
			            <div class="col col-15">
			                <div class="date-aviso">
			                	<div class="day roboto-b gray-medium">
			                		{{aviso.date | date:"dd"}}
			                	</div>
			                	<div class="month roboto-b gray-medium">
			                		{{aviso.date | date:"MMM"}}
			                	</div>
			                </div>
			            </div>
			            <div class="col col-85 block-infos" >
			            	<div class="infos" ng-class="{'background-otro': aviso.type === 'otro', 'background-urgencia': aviso.type === 'urgencia',  'background-pagos': aviso.type === 'pagos',  'background-tareas': aviso.type === 'tareas',  'background-contigencias': aviso.type === 'contigencias',  'background-administrativo': aviso.type === 'administrativo'}">
			               		<div  class="title white roboto-b" ng-class="{nowrap: aviso.endUp, wrap: aviso.endDown}"><span style="text-transform:capitalize;">{{aviso.type}} </span> : {{aviso.title}} </div>
			               		<p  class="content white roboto-l" ng-bind-html="aviso.content"> </p>
			               		<!--<a ng-click="downloadFunc('https://www.mathworks.com/moler/random.pdf')" ng-if="aviso.type_media === 'pdf'" class="button button-icon white download">-->
			               		<a ng-click="showPDF(aviso.media)" ng-if="aviso.type_media === 'pdf'" class="button button-icon white download">
	               			            <img src="img/pdf.png" class="pdf-icone" height="25px" >
	               			            DESCARGAR
			               		</a>
			               		<!-- // ng-click="download(aviso.media)" -->
			          			<a ng-click="showImages(aviso.media)" ng-if="aviso.type_media === 'img' || aviso.type_media === 'png'" class="button button-icon white download">
	               			            <img src="img/imagedl.png" class="image-icone" height="30px" >
	               			            DESCARGAR
			               		</a>
			               		<div  class="icon ion-chevron-down arrow" ng-class="{'arrow-otro': aviso.type === 'otro', 'arrow-urgencia': aviso.type === 'urgencia',  'arrow-pagos': aviso.type === 'pagos',  'arrow-tareas': aviso.type === 'tareas',  'arrow-contigencias': aviso.type === 'contigencias',  'arrow-administrativo': aviso.type === 'administrativo'}"></div>
			                </div>
			            </div>
			        </ion-item>        
		        </ion-list>
			</ion-content>
	  	</ion-tab>
		<!--<ion-tab title="MENSAJES PERSONALES" class="{{showTeacher}}">
	    	<ion-content  class="aviso header-aviso">
	    		<ion-refresher
			    	pulling-text="Actualizar"
			    	on-refresh="doRefresh()">
			  	</ion-refresher>
				<ion-list class="aviso-list general">
					<ion-item ng-repeat="aviso in data.avisoChild" class="row item-stable" ng-click="OpenAvisoTeacherG($index)"
		                    ng-class="{active: aviso.opened, fullAviso: aviso.opened, aviso: !aviso.opened, 'aviso-first': $index === 0, lastAviso: $last}">
			            <div class="col col-15">
			                <div class="date-aviso">
			                	<div class="day roboto-b gray-medium">
			                		{{aviso.date | date:"dd"}}
			                	</div>
			                	<div class="month roboto-b gray-medium">
			                		{{aviso.date | date:"MMM"}}
			                	</div>
			                </div>
			            </div>
			            <div class="col col-85 block-infos" >
			            	<div class="infos" ng-class="{'background-otro': aviso.type === 'otro', 'background-urgencia': aviso.type === 'urgencia',  'background-pagos': aviso.type === 'pagos',  'background-tareas': aviso.type === 'tareas',  'background-contigencias': aviso.type === 'contigencias',  'background-administrativo': aviso.type === 'administrativo'}">
			               		<div  class="title white roboto-b" ng-class="{nowrap: aviso.endUp, wrap: aviso.endDown}"><span style="text-transform:capitalize;">{{aviso.type}} </span> : {{aviso.title}} </div>
			               		<p  class="content white roboto-l" ng-bind-html="aviso.content"> </p>
			               		<!--<a ng-click="downloadFunc('https://www.mathworks.com/moler/random.pdf')" ng-if="aviso.type_media === 'pdf'" class="button button-icon white download">
			               		<a ng-click="showPDF(data.link+'/'+aviso.media)" ng-if="aviso.type_media === 'pdf'" class="button button-icon white download">
	               			            <img src="img/pdf.png" class="pdf-icone" height="25px" >
	               			            DESCARGAR
			               		</a>
			               		
			          			<a ng-click="showImages(aviso.media)" ng-if="aviso.type_media === 'img' || aviso.type_media === 'png'" class="button button-icon white download">
	               			            <img src="img/imagedl.png" class="image-icone" height="30px" >
	               			            DESCARGAR
			               		</a>
			               		<div  class="icon ion-chevron-down arrow" ng-class="{'arrow-otro': aviso.type === 'otro', 'arrow-urgencia': aviso.type === 'urgencia',  'arrow-pagos': aviso.type === 'pagos',  'arrow-tareas': aviso.type === 'tareas',  'arrow-contigencias': aviso.type === 'contigencias',  'arrow-administrativo': aviso.type === 'administrativo'}"></div>
			                </div>
			            </div>
			        </ion-item>        
		        </ion-list>
			</ion-content>
	  	</ion-tab>--> 	
	</ion-tabs>
</ion-view>



