<ion-view hide-back-button="true"  hide-nav-bar="false" title='<i class="icon ion-android-chat icone-menu white"></i> <span class="roboto-l"> PREGUNTAS FRECUENTES </span>'>
	<ion-content  class="faq">
		<div class="top-image"  ng-style="{'background': 'url(img/top/preguntas.png) center no-repeat', 'background-size':'cover'}" >
		</div>

 		<ion-list class="infos-list m-b-xl">


 		   <ion-list class="infos-list m-b-xl">
        	<div class="question" ng-repeat="question in data.question">
          		<ion-item ng-click="showQuestion($index)" class="like  background-violet-light white roboto-b"  ng-class="{active: question.opened, radiuslike: question.endUp}">
    				<span class="like-text"> {{question.question}} </span>
                          <div class="flip-button" onclick="this.classList.toggle('hover');">
                            <div class="button button-clear violet-medium ion-chevron-down front"></div>
                            <div class="button button-clear violet-medium back ion-chevron-up"></div>
                          </div>
                	<!-- <button class="button button-clear button-positive  ion-chevron-down flip-button" onclick="this.classList.toggle('hover');"></button> -->
          		</ion-item>
          		<ion-item  class="item-accordion background-violet-medium like-opened white roboto-l"  ng-show="question.opened">
            		<span class="like-text"> {{question.answer}}</span>
                    <a  ng-click="showPDF(data.link+'/'+question.media)" ng-if="question.type_media === 'pdf'" class="button button-icon white download">
                        <img src="img/pdf.png" class="pdf-icone" height="25px" >
                        DESCARGAR
                    </a>
                    <a ng-click="showImages(question.media)" ng-if="question.type_media === 'img'" class="button button-icon white download">
                        <img src="img/imagedl.png" class="image-icone" height="30px" >
                        DESCARGAR
                    </a>
          		</ion-item>
            </div>
      </ion-list>
      <div class="violet-light roboto-b" ng-if="data.question.length === 0">
          No hay preguntas frecuentes por el momento.
      </div>
	</ion-content>
</ion-view>