.faq{
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;

	.scroll{
		min-height: 100%;
	}

	// TEST
	.trapezoid{
	    border-bottom: 100px solid red;
	    border-left: 50px solid transparent;
	    border-right: 50px solid transparent;
	    height: 0;
	    width: 100px;
	}


	
	// FIN TEST

	.back-icon{
	    top: 5px;
	    left: 5px;
	    position: absolute;
	    max-width: 33px;
	    min-width: 33px;
	}

    .text-image{
	    bottom: 5px;
	    left: 5px;
	    position: absolute;
	    line-height: 16px;
	    text-align: left;
    	.prof{
    		font-size: 20px !important;
    	}
    	.position{
    		font-size: 13px !important;
    	}
	}

	    .contact{
		    background: url("../img/btn/correosb.png") center no-repeat !important;
		    background-size: cover !important;
		    width: 46px;
		    height: 46px;
		    position: absolute;
		    right: 5px;
		    top: 5px;
    	}

	.infos-list{
		margin-top:10px;
		.question{
			padding: 0px 20px;
	    	border: hidden;
			.like{
	    		padding: 10px;
	    		border-top-left-radius: 5px;
			    border-top-right-radius: 5px;
			    border: hidden;
			    text-align: left;
			    z-index: 1000;
			    margin: 10px -1px;
			    line-height: 17px;
			    padding-right: 27px;
	    		.like-text{
				    font-size: 12px;
				    position: relative;
				    /* top: -8px; */
				    wrap: nowrap;
				    text-overflow: ellipsis;
				    white-space: normal;
				}
				.button-clear{
				    position: absolute;
				    right: -44px;
				    bottom: -9px;
				}
			}

			.radiuslike{
				border-radius: 5px !important;
			}
			.active{
				border-bottom-left-radius: 0px !important;
				border-bottom-right-radius: 0px !important;
			}
			.like-opened{
			    display: block;
			    overflow: hidden;
			    height:100%;
			    text-overflow: ellipsis;
			    white-space: normal;
			    border-bottom-left-radius: 5px;
			    border-bottom-right-radius: 5px;
			    border: hidden;


				.download{
				    font-size: 13px;
				    border-color: #FFF;
				    border-style: solid;
				    border-width: 1px;
				    padding: 3px 10px 0px;
				    display: block;
				    margin: auto;
				    width: 135px;
				    margin-bottom: 5px;
				    margin-top: 15px;
					.pdf-icone{
					    top: -3px;
					    position: relative;
					}
					.image-icone{
					    top: 0px;
					    position: relative;
					}
				}
			}
		}
	}

	.list:last-child {
	    margin-bottom: 50px;
	}

	.flip-button {
		position: absolute;
	    height: 100%;
	    width: 100%;
	    top: 0px;
	    right: 0px;
	    -webkit-perspective: 1000;
	  	-webkit-perspective: 1000;
	  	perspective: 1000; 
	}
	.flip-button .back, .flip-button .front {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: 0.6s;
		transition: 0.6s;
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
		position: absolute;
		width: 120px; 
	}
	.flip-button .back {
	    -webkit-transform: rotateY(-180deg);
	    transform: rotateY(-180deg); 
	}
	.flip-button .front {
	    -webkit-transform: rotateY(0deg);
	    z-index: 2; 
	}
	.flip-button.hover .back {
	    -webkit-transform: rotateY(0deg);
	    transform: rotateY(0deg); 
	}
	.flip-button.hover .front {
	    -webkit-transform: rotateY(180deg);
	    transform: rotateY(180deg); 
	}

	.item.item-stable {
	    margin-right: 0px !important;
    	margin-left: 0px !important;
	}

	.list .item.item-accordion {
		line-height: 17px;
		padding:10px;
		font-size:13px;
		text-align: left;
		transition: 0.2s all ease-out;
		margin-top: 0px;
		margin-top: -10px;
		//margin-bottom: 10px;
	}
	.list .item.item-accordion.ng-hide {
	    line-height: 0px;
	    margin-top: -30px;

	}
	.list .item.item-accordion.ng-hide-add,
	.list .item.item-accordion.ng-hide-remove {
	    display: block !important;
	}

}

